<template>
  <div class="errorPopUp">
      <div class="headContainer">
          <div class="icon icon-icon-close" v-on:click="closePopUp()"></div>
      </div>
      <div class="mainContainer">
          <div class="title">{{popUpTitle}}</div>
          <div class="msg">{{message}}</div>
          <div class="buttonContainer">
              <div class="approve" v-on:click="closePopUp(true)" v-if="showApproveButton">{{approveButtonText}}</div>
              <div class="cancel" v-on:click="closePopUp()" v-if="showCancelButton">{{cancelButtonText}}</div>
              <div class="icon icon-icon-inner-check" v-if="!showCancelButton && !showApproveButton"></div>
          </div>
      </div>
  </div>
</template>

<script>
import '../../style/style.css';
// example:
// errorPopUpData = {
//     isOpen: true,
//     popUpTitle: "שים לב!",
//     message: "האם את בטוחה שברצונך להסיר את הילד הזה?",
//     approveButtonText: "כן",
//     cancelButtonText: "לא",
//     showCancelButton: true
// };
// let self = this;
// this.$data.errorPopUpData.callBackFunction = function () {
//
// };

export default {
  name: 'ErrorPopUp',
  props:{
    errorPopUpData: Object
  },
  data(){
    return{
        popUpTitle: '',
        message:'',
        approveButtonText: '',
        cancelButtonText:'',
        showCancelButton: false,
        showApproveButton: true,
    }
  },

  methods:{
    closePopUp: function(approveSelected = false){

        this.$props.errorPopUpData.approveSelected = approveSelected;
        this.$props.errorPopUpData.isOpen = false;

        this.$store.commit("setBackgroundOpacityIsOn", false);
        this.$props.errorPopUpData.callBackFunction();

    }
  },
  created: function(){
      this.$store.commit('setBackgroundOpacityIsOn',true);
      this.$data.popUpTitle = this.$props.errorPopUpData.popUpTitle;
      this.$data.message = this.$props.errorPopUpData.message;
      this.$data.approveButtonText = this.$props.errorPopUpData.approveButtonText;
      this.$data.cancelButtonText = this.$props.errorPopUpData.cancelButtonText;
      this.$data.showCancelButton = this.$props.errorPopUpData.showCancelButton;
      this.$data.showApproveButton = this.$props.errorPopUpData.showApproveButton;
      if(this.$props.errorPopUpData.timerOn){
        let self = this;
        setTimeout(function(){ 
        self.closePopUp() }, 1000);
        
      }

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.errorPopUp {
 height: 160px;
 width: 300px;
 background: #ffffff;
 position: fixed;
 z-index: 20;
top: 30%;
right: 39%;
    box-shadow: 1px 1px 1px 1px darkgrey;
    pointer-events: auto;


 .headContainer{
    height: 30px;
    background: #ebebeb;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    align-items: center;
     .icon{
         cursor: pointer;
         &::before{
             color:#000000;
             font-size: 12px;
         }
     }
 }
 .mainContainer{
     margin-top: 15px;
     .title{
         color:red;
         font-weight: bold;
         font-size: 14px;
     }
     .msg{
        margin: 10px 10px 20px 10px;
     }
     .buttonContainer{
         display: flex;
         justify-content: space-around;
         .approve, .cancel{
            height: 25px;
            width: 100px;
            background: royalblue;
            color: #ffffff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
         }
         .icon{
             background: green;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
             &:before{
                 color: #fff;
                font-size: 25px;

             }
         }
     }
 }
}

</style>
