<template>
  <div class="fileDisplayContainerWrapper" v-bind:updateDB_programs="updateDB_programs"
  v-bind:class="{error: saveCancel}">
  <div class="exitIcon" fill=red v-on:click="exitClicked">
    <eva-icon name="close" fill="white"></eva-icon>
  </div>
  <div class="headline" v-if="!editMode">הוספת תיק חדש</div>
  <div class="headline" v-if="editMode">עריכת תיק</div>
  <div class="fileDisplayContainer">

    <div class="detailsContainer">
      <div class="momContainer">
        <div class="text">פרטי אמא</div>
        <div class="result">
          <div class="details">תז:</div>
          <input v-model=file.mother_id :readonly="editMode" type="number" maxlength="3"
          v-bind:class="{error: saveCancel && (file.mother_id == '' || file.mother_id.length < 6 || file.mother_id.length > 9)}">
        </div>
        <div class="result">
          <div class="details">שם פרטי:</div>
          <input v-model=file.mother_name v-bind:class="{error: saveCancel && file.mother_name == ''}">
        </div>
        <div class="result">
          <div class="details">שם משפחה:</div>
          <input v-model=file.mother_last_name
          v-bind:class="{error: saveCancel && file.mother_last_name == ''}">
        </div>
        <div class="result">
          <div class="details">טלפון:</div>
          <input v-model=file.mother_phone>
        </div>
        <div class="result">
          <div class="details">עיסוק:</div>
          <input v-model=file.mother_occ>
        </div>
        <div class="result">
          <div class="details">תאריך לידה:</div>
          <input type="date" v-model=file.mother_bdate
          v-bind:class="{error: saveCancel && file.mother_bdate == ''}">
        </div>
        <div class="result">
          <div class="details">תוכניות:</div>
          <Dropdown v-if="flag" :programs="mom_programs"
          v-bind:chosen_programs="chosen_mom_programs"></Dropdown>
        </div>
      </div>
      <div class="dadContainer">
        <div class="text">פרטי אבא</div>
        <div class="result">
          <div class="details">תז:</div>
          <input v-model=file.father_id :readonly="editMode">
        </div>
        <div class="result">
          <div class="details">שם פרטי:</div>
          <input v-model=file.father_name>
        </div>
        <div class="result">
          <div class="details">שם משפחה:</div>
          <input v-model=file.father_last_name>
        </div>
        <div class="result">
          <div class="details">טלפון:</div>
          <input v-model=file.father_phone>
        </div>
        <div class="result">
          <div class="details">עיסוק:</div>
          <input v-model=file.father_occ>
        </div>
        <div class="result">
          <div class="details">תאריך לידה:</div>
          <input type="date" v-model=file.father_bdate>
        </div>
        <div class="result">
          <div class="details">תוכניות:</div>
          <Dropdown v-if="flag" :programs="dad_programs"
          v-bind:chosen_programs="chosen_dad_programs"></Dropdown>
        </div>
      </div>
      <div class="overrallContainer">
        <div class="text">פרטים כללים</div>
        <div class="overallDetailsTop" v-if="showOverall">
          <div class="result">
            <div class="details">מייל משפחתי:</div>
            <input v-model=file.mail>
          </div>
          <div class="result">
            <div class="details">כתובת:</div>
            <input v-model=file.address>
          </div>
          <div class="result">
            <div class="details">תאריך הצטרפות:</div>
            <input type="date" v-model=file.signup_date :readonly="editMode"
            v-bind:class="{error: saveCancel && file.signup_date == ''}">
          </div>
          <div class="result">
            <div class="details">גורם מפנה</div>
            <select v-model="file.ref">
              <option v-for="ref in refferals" v-bind:key="ref.name">{{ref.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="text addChildText">ילדים:</div>
    <div class="childrenContainer">
      <div class="childContainer"
      v-for="child in file.children"
      v-bind:key="child.id"
      v-on:click="editChild(child)"
      >
      <div class="childHeadline">{{child.name}}</div>
      <div class="childPrograms" v-for="(program,name) in child.programs" v-bind:key="name">{{name}}</div>
    </div>
  </div>
  <div class="childrenContainer">
    <div class="childContainer" v-on:click="add_child=true, showChild=false" v-if="showChild">
      הוספת ילד חדש
    </div>
  </div>
  <div class="childrenContainer">
    <div class="childName">
      <EditChild
      v-bind:child="childToEdit"
      v-bind:addChild="reEdit"
      v-bind:removeChild="removeChildFromArray"
      v-bind:db_programs="child_programs"
      v-bind:closeEditChild="closeEditChild"
      v-bind:mother_id="file.mother_id"
      v-if="toEdit"
      ></EditChild>
    </div>
    <div class="addChild" v-if="add_child">
      <div class="childRow1">
        <div class="exitContainer"
        v-on:click="add_child=false, showChild=true, saveChildCancel=false, clearChildInput()">
        <eva-icon name="close-square" animation="pulse"></eva-icon>
      </div>
      <div class="childRow">
        <div class="text">שם ילד:</div>
        <input v-model="child.name" v-bind:class="{error: saveChildCancel && child.name == ''}">
      </div>
      <div class="childRow">
        <div class="text">תז ילד:</div>
        <input v-model="child.id" v-bind:class="{error: saveChildCancel && child.id == ''}">
      </div>
      <div class="childRow">
        <div class="text">תאריך לידה:</div>
        <input id="date" type="date" v-model="child.birth_date"
        v-bind:class="{error: saveChildCancel && child.birth_date == ''}">
      </div>
      <div class="childRow" id="textArea">
        <div class="text">תיאור:</div>
        <textarea v-model="child.description"></textarea>
      </div>
      <div class="childRow">
        <div class="text">תוכניות:</div>
        <Dropdown v-if="flag" :programs="child_programs"
        :chosen_programs="chosen_child_programs"></Dropdown>
      </div>
    </div>
    <div class="childRow2">
      <div class="saveChildButton" v-on:click="saveChild">הוספת ילד</div>
    </div>
  </div>
</div>
<div class="saveFilebuttonContainer">
  <div class="saveButton saveFileButton" v-on:click="scanForm">שמירת תיק</div>
</div>
</div>
<div class="errorPopUpContainer" v-if="errorPopUpData.isOpen">
  <ErrorPopUp v-bind:errorPopUpData="errorPopUpData"></ErrorPopUp>
</div>
</div>
</template>

<script>
import "../../style/style.css";
import * as firebase from "firebase";
import * as files_queries from "../../firesbaseService/files_queries";
import * as programs_queries from "../../firesbaseService/programs_queries";
import EditChild from "./EditChild";
import Dropdown from "../Dropdown";
import ErrorPopUp from '../popUps/ErrorPopUp';
import * as ref_logs from "../../firesbaseService/ref_logs_queries";

export default {
  name: "AddFile",
  components: {
    EditChild,
    Dropdown,
    ErrorPopUp
  },
  props: {
    fileToEdit: Object,
    editMode: Boolean,
    deleteRef: Function,
  },
  async created() {
    let date = new Date();
    let day = date.getDate();
    if (day < 10) {
      day = "0" + day.toString();
    }
    let month = date.getMonth() + 1;
    if (month < 10) {
      month = "0" + month.toString();
    }
    this.file.signup_date = date.getFullYear().toString() + '-' + month + '-' + day;
    this.refferals = await ref_logs.get_all_refs();
    let programs = await programs_queries.get_all_programs();
    let self = this;
    this.flag = false;
    programs.forEach(async function (program) {
      if (program.active) {
        self.$data.child_programs[program.name] = {
          name: program.name,
          selected: false,
          log: [],
        };
        self.$data.mom_programs[program.name] = {
          name: program.name,
          selected: false,
          log: [],
        };
        self.$data.dad_programs[program.name] = {
          name: program.name,
          selected: false,
          log: []
        };
      }
    });
    this.flag = true;
    if (this.$props.fileToEdit != undefined) {
      if (this.fileToEdit.ref_id != undefined) {
        this.tempRefId = this.fileToEdit.ref_id;
        let file = await files_queries.get_file(this.fileToEdit.mother_id);
        if (file != undefined) {
          this.editMode = true;
          for (let child in this.fileToEdit.children) {
            let currChild = this.fileToEdit.children[child];
            file.children[currChild.id] = {
              id: currChild,
              name: currChild.name ? currChild.name : "",
              birth_date: currChild.birth_date ? currChild.birth_date : "",
              description: currChild.description ? currChild.description : "",
              objectives: currChild.objectives ? currChild.objectives : "",
              programs: currChild.programs ? currChild.programs : {},
            }
          }
          this.fileToEdit = file;
        }
      }
      for (let program in this.$props.fileToEdit.mother_programs) {
        this.mom_programs[program].selected = true;
        this.chosen_mom_programs[program] = {
          name: program,
          log: this.fileToEdit.mother_programs[program].log ? this.fileToEdit.mother_programs[program].log : [],
          selected: true,
        };
      }
      for (let program in this.$props.fileToEdit.father_programs) {
        this.dad_programs[program].selected = true;
        this.chosen_dad_programs[program] = {
          name: program,
          log: this.fileToEdit.father_programs[program].log ? this.fileToEdit.father_programs[program].log : [],
          selected: true
        };
      }
      this.file.mother_id = this.$props.fileToEdit.mother_id ? this.$props.fileToEdit.mother_id : "";
      this.file.mother_name = this.$props.fileToEdit.mother_name ? this.$props.fileToEdit.mother_name : "";
      this.file.mother_bdate = this.$props.fileToEdit.mother_bdate ? this.$props.fileToEdit.mother_bdate : "";
      this.file.mother_last_name = this.$props.fileToEdit.mother_last_name ? this.$props.fileToEdit.mother_last_name : "";
      this.file.mother_phone = this.$props.fileToEdit.mother_phone ? this.$props.fileToEdit.mother_phone : "";
      this.file.mother_occ = this.$props.fileToEdit.mother_occ ? this.$props.fileToEdit.mother_occ : "";
      this.file.father_bdate = this.$props.fileToEdit.father_bdate ? this.$props.fileToEdit.father_bdate : "";
      this.file.father_id = this.$props.fileToEdit.father_id ? this.$props.fileToEdit.father_id : "";
      this.file.father_name = this.$props.fileToEdit.father_name ? this.$props.fileToEdit.father_name : "";
      this.file.father_last_name = this.$props.fileToEdit.father_last_name ? this.$props.fileToEdit.father_last_name : "";
      this.file.father_occ = this.$props.fileToEdit.father_occ ? this.$props.fileToEdit.father_occ : "";
      this.file.father_phone = this.$props.fileToEdit.father_phone ? this.$props.fileToEdit.father_phone : "";
      this.file.mail = this.$props.fileToEdit.mail ? this.$props.fileToEdit.mail : "";
      this.file.ref = this.$props.fileToEdit.ref ? this.$props.fileToEdit.ref : "";
      this.file.signup_date = this.$props.fileToEdit.signup_date ? this.$props.fileToEdit.signup_date : "";
      this.file.address = this.$props.fileToEdit.address ? this.$props.fileToEdit.address : "";
      for (let child in this.$props.fileToEdit.children) {
        this.file.children[child] = {
          id: child,
          name: this.$props.fileToEdit.children[child].name ? this.$props.fileToEdit.children[child].name : "",
          birth_date: this.$props.fileToEdit.children[child].birth_date ? this.$props.fileToEdit.children[child].birth_date : "",
          description: this.$props.fileToEdit.children[child].description ? this.$props.fileToEdit.children[child].description : "",
          objectives: this.$props.fileToEdit.children[child].objectives ? this.$props.fileToEdit.children[child].objectives : "",
          programs: this.$props.fileToEdit.children[child].programs ? this.$props.fileToEdit.children[child].programs : {}
        };
      }
      if (this.deleteRef !== undefined) {
        this.file.ref_id = this.tempRefId;
      }
    }
  },
  data() {
    return {
      errorPopUpData: {},
      showMom: true,
      showDad: true,
      showOverall: true,
      refferals: [],
      mom_programs: {},
      chosen_mom_programs: {},
      dad_programs: {},
      chosen_dad_programs: {},
      flag: false,
      file: {
        // dictionary
        father_bdate: "", // string
        father_id: "", // string
        father_name: "", // string
        father_last_name: "",
        father_occ: "", // string
        father_phone: "", // string
        father_programs: {},
        mother_bdate: "", // string
        mother_id: "", // string
        mother_name: "", // string
        mother_programs: {},
        mother_last_name: "", //
        mother_occ: "", // string
        mother_phone: "", // string
        address: "", // string
        mail: "", // string
        ref: "אחר", // int --> const.outsourcing
        signup_date: "", // string
        ref_id: "",
        children: {}
      },
      programsDropDownIsOpen: false,
      saveCancel: false,
      saveChildCancel: false,
      selectedPrograms: "בחר תוכנית",
      showChild: true,
      toEdit: false,
      childToEdit: {
        id: 0,
        name: "",
        birth_date: "", // string
        description: "", // string
        objectives: "", // string
        programs: [],
      },
      child_programs: {},
      chosen_child_programs: {},
      add_child: false,
      child: {
        id: 0,
        name: "",
        birth_date: "", // string
        description: "", // string
        objectives: "", // string
        programs: [],
      }
    };
  },
  methods: {
    closeEditChild: function () {
      this.toEdit = false;
    },
    exitChildClicked: function () {
      this.$data.add_child = false;
      this.clearChildInput();
      this.$data.showChild = true;
    },
    exitClicked: function () {
      let self = this;
      if (this.editChildrenOn) {
        self.errorPopUpData = {
          isOpen: true,
          popUpTitle: "שימי לב!",
          message: "שינויים לא ישמרו",
          approveButtonText: "יציאה",
          cancelButtonText: "חזרה לתיק",
          showCancelButton: true,
          showApproveButton: true,
          timerOn: false
        };
        self.errorPopUpData.callBackFunction = function () {
          if (self.errorPopUpData.approveSelected) {
            self.$router.go(-1);
          }
        }
      } else {
        self.$router.go(-1);
      }
    },
    reEdit: function (newChild) {
      this.editChildrenOn = true;
      this.$data.toEdit = false;
      let tempPrograms = {};
      for (let program in newChild.programs) {
        if (newChild.programs[program].selected) {
          tempPrograms[program] = {
            name: program,
            log: newChild.programs[program].log
          }
        }
      }
      this.$data.file.children[newChild.id] = {
        id: newChild.id,
        name: newChild.name,
        birth_date: newChild.birth_date,
        description: newChild.description, // string
        objectives: newChild.objectives, // string
        programs: tempPrograms
      };
    },
    editChild: function (child) {
      this.$data.childToEdit = {
        id: child.id,
        name: child.name,
        birth_date: child.birth_date, // string
        description: child.description, // string
        objectives: child.objectives, // string
        programs: child.programs
      };
      this.$data.toEdit = true;
    },
    saveChild: function () {
      this.saveChildCancel = false;
      let child = this.$data.child;
      if (child.id == "") {
        this.saveChildCancel = true;
      }

      if (child.name == "") {
        this.saveChildCancel = true;
      }

      if (child.birth_date == "") {
        this.saveChildCancel = true;
      }

      if (!this.saveChildCancel) {
        this.editChildrenOn = true;
        this.add_child = false;
        this.$data.file.children[child.id] = {
          id: child.id,
          name: child.name,
          birth_date: child.birth_date,
          description: child.description, // string
          objectives: child.objectives, // string
          programs: this.chosen_child_programs,
        };
        this.clearChildInput();
        this.showChild = true;
      } else {
        this.showChild = false;
      }
    },
    clearChildInput: function () {
      this.child.id = "";
      this.child.name = "";
      this.child.birth_date = "";
      this.child.description = "";
      this.child.objectives = "";
      this.child.programs = {};
      this.chosen_child_programs = {};
    },
    removeChildFromArray: function (child) {
      this.$data.toEdit = false;
      delete this.file.children[child.id];
    },
    validateForm: async function () {
      this.saveCancel = false;
      if (this.file.mother_id == "" || this.file.mother_id.length < 6 || this.file.mother_id.length > 9) {
        this.saveCancel = true;
      }
      if (this.file.mother_name == "") {
        this.saveCancel = true;
      }
      if (this.file.mother_last_name == "") {
        this.saveCancel = true;
      }
      if (this.file.mother_bdate == "") {
        this.saveCancel = true;
      }
      if (this.file.signup_date == "") {
        this.saveCancel = true;
      }

    },

    scanForm: async function () {
      let self = this;
      this.validateForm();
      if (self.saveCancel) {
        return;
      } else {
        for (let program in self.chosen_mom_programs) {
          if (self.chosen_mom_programs[program].selected) {
            self.file.mother_programs[program] = {
              name: program,
              log: self.chosen_mom_programs[program].log ? self.chosen_mom_programs[program].log : [],
            };
          }
        }
        for (let program in self.chosen_dad_programs) {
          if (self.chosen_dad_programs[program].selected) {
            self.file.father_programs[program] = {
              name: program,
              log: self.chosen_dad_programs[program].log ? self.chosen_dad_programs[program].log : []
            };
          }
        }
        if (this.editMode) {
          files_queries.add_file(self.file).then(async function () {
            self.$store.commit('filesToSave', []);
            if (self.$props.deleteRef != undefined) {
              await self.$props.deleteRef(self.file);
            }
            self.errorPopUpData = {
              isOpen: true,
              popUpTitle: "הידד!",
              message: "תיק נשמר בהצלחה",
              approveButtonText: "קיבלתי",
              showCancelButton: false,
              showApproveButton: false,
              timerOn: true
            }
            self.errorPopUpData.callBackFunction = function () {
              self.$router.go(-1);
            }
          }).catch(() => {
          })
        } else {
          let db = await firebase.firestore();
          db.collection("files").where("mother_id", "==", self.file.mother_id).get().then(async function (query) {
            let flag = false;
            query.forEach(() => {
              flag = true;
            })
            if (!flag) {
              files_queries.add_file(self.file).then(async function () {
                if (self.$props.deleteRef != undefined) {
                  await self.$props.deleteRef(self.file);
                }
                self.errorPopUpData = {
                  isOpen: true,
                  popUpTitle: "הידד!",
                  message: "תיק נשמר בהצלחה",
                  approveButtonText: "קיבלתי",
                  showCancelButton: false,
                  showApproveButton: false,
                  timerOn: true
                }
                self.errorPopUpData.callBackFunction = function () {
                  self.$router.go(-1);
                }
              }).catch(err => {
              })
            } else {
              self.errorPopUpData = {
                isOpen: true,
                popUpTitle: "שימי לב!",
                message: "תיק כבר קיים במערכת! ניתן להוסיף ילד או לשנות פרטי תיק באמצעות עריכת תיק",
                approveButtonText: "קיבלתי",
                showCancelButton: false,
                showApproveButton: true,
                timerOn: false
              };
              self.errorPopUpData.callBackFunction = function () {
                self.saveCancel = true;
                self.file.mother_id = ''
              }
            }

          })
        }

      }
    },
  },
  computed: {
    updateDB_programs: function () {
      return this.$data.db_programs;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
textarea {
  resize: none;
}

.addChildText {
  margin-top: 2%;
}

.saveFilebuttonContainer {
  width: 35%;
  display: inline-block;
  text-align: center;
}

.saveButton {
  background-color: lightgreen;
  text-align: center;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.saveChildButton {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1%;

  &:hover {
    cursor: pointer;
    background-color: rgba(137, 238, 173, 0.49);
  }
}

.saveFileButton {
  margin-top: 20%;
  margin-bottom: 20%;
}

.childRow {
  margin: 2%;
}

.childRow1 {
  display: flex;
}


.fileDisplayContainerWrapper {
  height: 90%;
  width: 100%;
  text-align: center;
}

.addChild {
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
}

.fileDisplayContainer {
  max-height: 87%;
  max-width: 100%;
  margin-top: 5px;
  overflow-y: auto;
  text-align: center;
  overflow-x: hidden;

  select {
    width: 60%;
  }

  &.blurred {
    transition: 0.3s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
  }


  .details {
    width: 50%;
  }

  .detailsContainer {
    display: flex;
    margin-top: 5px;
    max-height: 100%;

    input {
      text-align: center;
      width: 75%;
    }

    .plusIcon {
      float: right;

      &:hover {
        cursor: pointer;
      }
    }

    .minusIcon {
      float: right;

      &:hover {
        cursor: pointer;
      }
    }

    .result {
      .details {
        display: inline-block;
      }

    }

    .momContainer {
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
      background-color: rgba(255, 255, 255, 0.7);
      padding-top: 1%;

      .momDetails {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .dadContainer {
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
      background-color: rgba(255, 255, 255, 0.7);
      margin-right: 5%;
      padding-top: 1%;

      .dadDetails {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

      }
    }

    .overrallContainer {
      width: 33%;
      margin-right: 5%;
      padding-top: 1%;
      margin-bottom: 15%;

      .overallDetails {
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

        .result {
          text-align: center;
          width: 20%;
          top: 10px;

          .details {
            display: inline-block;
          }
        }

        input {
          width: 70%;
          top: 5px;
        }
      }
    }

    .childrenContainer {
      display: flex;
      justify-content: center;
    }

    .text {
      font-weight: bold;
      font-size: x-large;
      padding-bottom: 10px;

    }

  }
}

.detailsContainerV2 {
  width: 20%;
  height: 40%;
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 5%;
  padding-top: 1%;
}

.closeButton {
  background-color: rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;
    background-color: rgba(150, 61, 53, 0.4);
  }
}

.childText {
  font-weight: bold;
  font-size: x-large;
  padding-top: 5px;
}

.singleRow {
  display: flex;
}

.childHeadline {
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  padding-bottom: 3%;
}

.childPrograms {
  max-width: 100%;
  max-height: 100%;
  font-size: small;
  margin-bottom: 2%;
  border-right: solid 1px;
  border-left: solid 1px;
  border-radius: 5px;
}

input {
  padding: 5px;
  margin-bottom: 10px;

  &.error {
    border: 2px solid red;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;


    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }

  }
}

.error {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;


  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

}

.overallDetailsTop {
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
}

.headline {
  font-size: large;
  font-style: italic;
  font-weight: bold;
  background: white;
}

.childContainer {
  width: 15%;
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1%;
  margin: 1%;
  cursor: pointer;

  &:hover {
    background-color: rgba(216, 190, 96, 0.5);
  }
}

.programDetails {
  display: flex;
  justify-content: center;
}

.showLogButton {
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 3%;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.programLogContainerAll {
  display: inline-block;
  width: 100%;
  // z-index: 100;
  // pointer-events: auto;

  &.notBlurred {
    filter: blur(0px);
    -webkit-filter: blur(0px);
    box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.1px solid black;
  }

}

.childrenContainer {
  display: flex;
  justify-content: center;
}

.programLogContainerAllWrapper {
  width: 40%;
  position: absolute;
  z-index: 100;
  pointer-events: auto;
  top: 18%;
  right: 30%;
  overflow: auto;
  max-height: 80%;
}

.programLogInner {
  justify-content: center;
  align-items: center;

}

.exitIcon {
  position: absolute;
  height: 25px;
  background-color: #c24a4a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: black;
    box-shadow: 0px 0px 0px 2px white;
  }
}

::-webkit-scrollbar {
  width: 6px;
  // padding: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
