<template>
  <div class="mainContainer">
    <div id="overlay"></div>
    <div class="viewChildContainer">
      <div class="closeButton" >
        <eva-icon name="close-circle-outline" v-on:click="closePopUp" fill="#d93434" animation="pulse"></eva-icon>
      </div>
      <div class="editChild">
        <div class="childValues">
          <div class="childRow singleRow">
            <div class="singleRowComp">
              <div class="text">שם</div>
              <input class="inputTag" v-model="newChild.name">
            </div>
            <div class="singleRowComp">
              <div class="text">תעודת זהות</div>
              <input class="inputTag inputTagId" readonly="true" v-model="newChild.id">
            </div>
            <div class="singleRowComp">
              <div class="text">תאריך לידה</div>
              <input class="inputTag" v-model="newChild.birth_date" type="date">
            </div>
          </div>
          <div class="singleRow">
            <div class="singleRowComp">
              <div class="text">תיאור</div>
              <textarea rows="4" cols="50" class="inputTag" v-model="newChild.description"></textarea>
            </div>
            <div class="singleRowComp">
              <div class="text">מטרות</div>
              <textarea rows="4" cols="50" class="inputTag" v-model="newChild.objectives"></textarea>
            </div>
            <div class="singleRowComp">
              <div class="text">תוכניות</div>
              <Dropdown v-bind:programs="child_programs" v-bind:chosen_programs="chosen_programs"></Dropdown>
            </div>
          </div>
        </div>
        <div class="formButton" v-on:click="saveChild">שמירה</div>
        <div class="formButton" v-on:click="remove">הסרת ילד</div>
        
      </div>
      <div v-if="errorPopUpData.isOpen">
          <ErrorPopUp v-bind:errorPopUpData="errorPopUpData"></ErrorPopUp>
        </div>
    </div>
  </div>
</template>

<script>
import ErrorPopUp from "../popUps/ErrorPopUp";
import {get_current_datetime} from "../../firesbaseService/ref_logs_queries"
import ProgramLog from "../../components/Files/ProgramLog"
import Dropdown from '../Dropdown'

export default {
  name: "EditChild",
  props: {
    child: Object,
    addChild: { type: Function },
    removeChild: Function,
    db_programs: Object,
    closeEditChild: Function,
    mother_id: String,
  },
  components: {
    ErrorPopUp,
    ProgramLog,
    Dropdown,
  },
  data() {
    return {
      errorPopUpData: {},
      showPopUp: false,
      userName: this.$store.getters.user_name,
      newLog: false,
      child_programs: {},
      chosen_programs: {},
      newChild: {
        id: this.$props.child.id,
        name: this.$props.child.name,
        birth_date: this.$props.child.birth_date, // string
        description: this.$props.child.description, // string
        objectives: this.$props.child.objectives, // string
        programs: this.$props.child.programs,
      },
    };
  },
  methods: {
    saveChild: function(){
      this.newChild.programs = this.chosen_programs;
      this.showPopUp = true;
      this.errorPopUpData = {
        isOpen: true,
        popUpTitle: "שים לב!",
        message: "נא לשמור את התיק כדי שהשינויים ישמרו",
        approveButtonText: "קיבלתי",
        showCancelButton: false,
        showApproveButton: true,
      }
      let self = this;
      this.errorPopUpData.callBackFunction = function(){
        if(self.errorPopUpData.approveSelected){
          self.$props.addChild(self.$data.newChild);
        }
      };
      this.$store.commit("setBackgroundOpacityIsOn", true);
    },
    closePopUp: function(){
      this.closeEditChild();
    },
    remove: function() {
      this.$data.showPopUp = true;
      this.$data.errorPopUpData = {
        isOpen: true,
        popUpTitle: "שים לב!",
        message: "האם את בטוחה שברצונך להסיר את הילד הזה?",
        approveButtonText: "כן",
        cancelButtonText: "לא",
        showCancelButton: true,
        showApproveButton: true,
      };
      let self = this;
      this.$data.errorPopUpData.callBackFunction = function() {
        if (self.$data.errorPopUpData.approveSelected) {
          self.$props.removeChild(self.newChild);
        }
      };

    }
  },
  created(){
    for(let program in this.db_programs){
      this.db_programs[program].selected = false;
    }
    this.child_programs = this.db_programs;
    for(let program in this.child.programs){
      this.chosen_programs[program] = {
        name:program,
        log: this.child.programs[program].log ? this.child.programs[program].log : [],
        selected: true,
        };
      this.child_programs[program].selected = true;
    }
    this.newChild.programs = this.programs;
  },
  destroyed() {
    /* for(let program in this.db_programs){
    if(this.db_programs[program].selected){
    this.db_programs[program].selected = false;
  }
} */
},
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

input{
  color: black;
  font-weight: bold;
  text-align: center;
}
.viewChildContainer{
  font-family: 'Varela Round', sans-serif;
  // z-index: 1;n
  position: absolute;
  width: 80%;
  margin: 0px;
  height: 80%;
  overflow: auto;
  // border: 1px solid black;
  top: 15%;
  left: 10%;
  // background-image: linear-gradient(#ffffff, #b0bec3);
  background-color: white;
  // border-radius: 10px;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  // background-color: rgba(255,255,255,1.55);
  background-image: linear-gradient(white,lightblue);
  //  filter: blur(8px);
  // -webkit-filter: blur(8px);
  // opacity: 0.16;
  // -webkit-filter:blur(4px);
}

// #overlay{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   filter:blur(4px);
//   color: rgba(130, 130, 130, 0.5);
// }

.editChild{
}

.programLogContainer{
  width: 50%;
  text-align: center;
}

.inputTag{
  background-color: rgba(74, 81, 104, 0.05);
  width: 70%;
}
.inputTagId{
  cursor:  not-allowed;
}

.closeButton{
  border-radius: 5px;
  padding: 2px;
  position: fixed;
  cursor: pointer;

  &:hover{
    color: lightblue;
  }
}

.sideBySide {
  display: flex;
  padding: 15px;
  justify-content: center;

  .icon {
    width: 0;
    &:hover{
      cursor: pointer;
    }
    &::before {
    }
  }
  .childValues {
    width: 100%;
    display: inline-block;
    max-height: 100%;
    overflow: auto;

    .childRow {
      text-align: center;

      select {
        height: auto;
        text-align: center;
      }

      .text {
        // font-weight: bold;
        font-family: 'Varela Round', sans-serif;
        text-decoration: underline;
        cursor: default;
      }

      div {
        text-align: center;
        color: black;
      }
      .divTag {
        width: 40%;
        border: 1px solid black;
        color: black;
      }
    }

    button {
      width: 40%;
      border: 1px solid black;
      background-color: darkturquoise;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
.logTable {
  background-color: #eaf0f1;
}

.logRow {
  padding: 1% 5% 1% 5%;
  text-align: right;
  border-color: #add;
  border-style: double;
  padding: 5px;
}

.singleRow{
  padding-bottom: 10px;
  display: flex;
}

.singleRowComp{
  width:50%;
  width: 50%;
  background-color: rgba(74, 81, 104, 0.05);
  margin: 5px
}

.descRow{
}

.objRow{
  padding-bottom: 1px;
}

.programsRow{
  padding-bottom: 1px;
}
.payButton{

}



.logDesc {
  width: 60%;
}

.logDatetime {
  text-align: center;
}

.logName {
  text-align: center;
}

.logHeader {
  font-size: 110%;
  font-weight: bold;
}

.desc {
  padding-left: 8%;
}

.name {
  padding-left: 10%;
}

.datetime {
  color: blue;
  padding-left: 5%;
}

.logOneliner {
  display: flex;
  padding-right: 40%;
}

.addLogItem {
  border-style: solid;
  background-color: lightblue;
  border-radius: 5%;
  padding: 0.5%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.cancelButton {
  background-color: red;
  color: white;

  &:hover {
    color: black;
    background-color: red;
  }
}

.addButton {
  padding-right: 5%;
}

textarea {
  resize: none;
  text-align: center;
  color: black;
  font-family: 'Varela Round', sans-serif;
  width: 70%;
}

.newEntry {
  background-color: #eaf0f9;
  padding: 5% 0% 5% 0%;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  // padding: 5px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 15px;
// }
//
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #4a5168;
//   border-radius: 50px;
// }
//
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: lightblue;
// }

.formButton{
  background-color: lightgreen;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px 25% 15px 25%;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}
</style>
