<template>
  <div class="files">
    <div class="searchParamsContainer">
      <div class="searchParams">
        <b>חפשי תיק לפי</b><br>
        <select class="dropdownParam" v-model="option" v-on:change="changeOption(option)">
          <option v-for="type in search" v-bind:key="type">{{type}}</option>
        </select>
        <input class="inputParam" v-model="input" v-on:keyup.enter="searchFile" :placeholder="option">
        <div class="searchBtn" v-on:click="searchFile">חפשי</div>
      </div>
    </div>
    <div class="resultsContainer" v-if="hasResults">
      <div class="howManyFiles">נמצאו {{files.length}} תיקים</div>
      <div class="fileDisplayContainer">
        <FilesDisplay  v-for="file in files" v-bind:key="file.mother_id" v-bind:file="file"></FilesDisplay>
      </div>
    </div>
    <div class="noResult" v-else-if="!hasResults" >אין תוצאות..</div>
    <div class="addFileContainer" v-on:click="addFileClicked" title="הוספת תיק חדש">
      <eva-icon name="file-add" animation="pulse" fill="#363e57" height="90px" width="100px"></eva-icon>
    </div>
  </div>
</template>

<script>
import FilesDisplay from "./FilesDisplay";
import * as files_queries from "../../firesbaseService/files_queries";
import AddFile from './AddFile';

export default {
  name: "files",
  components: {
    FilesDisplay,
    AddFile
  },
  created(){
    this.files = this.$store.getters.getFilesToSave;
    if(this.files.length > 0)
    {
      this.hasResults = true;
    }
  },

  destroyed(){
    this.$store.commit('filesToSave', this.files);
  },
  methods: {
    changeOption: function(type){
      this.$data.option = type;
      this.$data.hasResults = false;
      this.$data.input = "";
      this.$data.files = [];
    },
    addFileClicked: function(){
      this.$router.push('/addFile');
    },
    optionListener: function(e) {
      document.getElementById("idInput").placeholder = e.value;
      this.$data.option = e.value;
    },
    searchFile: async function() {
      this.$data.files = [];
      if (this.$data.option === "תז אמא") {
        let file = await files_queries.get_file(this.$data.input);
        if (file != undefined) {
          this.$data.hasResults = true;
          this.$data.files.push(file);
          return;
        }
        else{this.$data.hasResults = false;}
      }
      else if (this.$data.option === "שם ילד") {
        let files = await files_queries.all_files_by_child_name(this.$data.input);
        if(files[0] != undefined){
          this.$data.files = files;
          this.$data.hasResults = true;

        }
        else{this.$data.hasResults = false;}
      }
      else if (this.$data.option === "שם הורה") {
        console.log("here");
        let files = await files_queries.all_files_by_parent_name(this.$data.input);
        if(files[0] != undefined){
          this.$data.files = files;
          this.$data.hasResults = true;
        }
        else{this.$data.hasResults = false;}
      }
      else if(this.$data.option === "שם משפחה") {
        let files = await files_queries.all_files_by_last_name(this.$data.input);
        if(files[0] != undefined){
          console.log("im here");
          this.$data.files = files;
          this.$data.hasResults = true;
        }
        else{this.$data.hasResults = false;}
      }
      else if(this.$data.option == "תז ילד"){
        let files = await files_queries.get_file_by_child_id(this.$data.input);
        if(files[0] != undefined){
          this.$data.files = files;
          this.$data.hasResults = true;
        }
        else{this.$data.hasResults = false;}
      }
      else if(this.$data.option == "תז אבא"){
        let files = await files_queries.get_file_by_father_id(this.$data.input);
        if(files[0] != undefined){
          this.$data.files = files;
          this.$data.hasResults = true;
        }
        else{this.$data.hasResults = false;}
      }
    },

  },
  data() {
    return {
      search:{
        "momID": "תז אמא",
        "childName": "שם ילד",
        "parentName": "שם הורה",
        "lastName": "שם משפחה",
        "childID": "תז ילד",
        "fatherID": "תז אבא",
      },
      option: "תז אמא",
      input: "",
      files: [],
      hasResults: false,
      addFile: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.files {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  direction: rtl;
  position: absolute;
  height: calc(85% - 25px);
  width: 100%;
  text-align: center;
  .noResult{
    margin-top: 1%;
  }
  .searchParams {
    box-shadow: 5px 5px rgba(96,130,173,0.15);
    background-color: rgba(255,255,255,0.7);
    margin-top: 1%;
    width: 35%;
  }
  .resultsContainer{
    width: 100%;
    margin-top: 2px;
    max-height:  85%;
    overflow: auto;
    text-align: center;
    .howManyFiles{
      position: relative;
      display: inline-block;
    }
    .fileDisplayContainer{
      display: inline-block;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      justify-content: center;
    }
  }
  #idInput {
    width: 25%;
    margin: margin-top;
    border: 1px black solid;
    border: 1px solid black;
    text-align: center;
    color: black;
  }
  .searchBtn {
    background-color: lightgreen;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px 25% 15px 25%;
    padding: 5px;

    &:hover {
      opacity: 1;
      background-color: lightblue;
      box-shadow: 0px 0px 0px 2px lightblue;
    }
  }
  .addFileContainer{
    float: left;
    position: fixed;
    bottom: 0;
    &:hover{
      cursor: pointer;
    }
  }
}
#dropdown{
  width: 25%
}

.dropdownParam{
  width: 30%;
  padding: 5px;
  margin-left: 35px;
  margin-bottom: 1%;
}

.inputParam{
  width: 35%;
  text-align: center;
  padding: 5px;
  margin-bottom: 1%;
}

.searchParamsContainer{
  display: flex;
  justify-content: center;
}
</style>
