<template>
  <div class="files_display" :title="this.children_names">
    <div class="dispName"><b>שם האם:</b> {{file.mother_name}}</div>
    <div class="dispName"><b>שם האב:</b> {{file.father_name}}</div>
    <div class="dispName"><b>ילדים:</b> {{children_size}}</div>
    <div class="iconsContainer">
      <span class="icon icon-icon-pencil" v-on:click="editFile" title="ערכי תיק"></span>
      <span class="icon icon-icon-magnifying-glass" v-on:click="showFile" title="צפי בתיק"></span>
    </div>
  </div>
</template>

<script>
import * as files from "../../firesbaseService/files_queries";
export default {
  name: "FilesDisplay",
  props: {
    file: Object
  },
  components: {
  },
  methods: {
    parseChildren: function() {
      let output = "ילדים:\n";
      for (let child in this.$props.file.children) {
        output += this.$props.file.children[child].name + "\n";
      }
      output = output.replace(/,\s*$/, "");
      this.$data.children_names = output;
      this.$data.children_size = Object.keys(this.$props.file.children).length;
    },
    editFile: function() {
      this.$router.push({
        name: "AddFile",
        params: { fileToEdit: this.$props.file, editMode: true}
      });
    },
    showFile: function(){
      this.$router.push({
        name: "SingleFileDisplay",
        params: { fileToShow: this.$props.file}
      });
    }
  },
  created() {
    this.parseChildren();
  },
  data() {
    return {
      children_names: "",
      children_size: 0,
    };
  }
};
</script>

<style lang="scss" scoped>
.files_display {
  direction: rtl;
  display: inline-block;
  position: relative;
  border: 1.5px solid black;
  width: 15%;
  margin: 1%;
  background-color: rgba(230, 245, 254, 0.5);
  text-align: center;
  padding-top: 10px;
  box-shadow: 10px 10px #4376a178;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: default;
  &:hover {
    box-shadow: -10px 10px #24262878;
    background-color: rgba(255, 255, 255, 1);
  }
  .iconsContainer {
    display: inline-flex;
    text-align: center;
    margin: 4%;
    width: 50%;

    .icon {
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: inline-block;
      position: relative;
      border-style: solid;
      border-width: 0.5px;
      border-radius: 30px;
      font-size: 20px;
      width: 50%;
      &:hover{
        cursor: pointer;
        font-weight: bolder;
        color: navy;
      }
    }
  }
}

</style>
