<template>
  <div class="programLogContainerInner">
    <!--   <div class="paid">
    <div class="text">האם שולם ?</div>
    <div class="icon-icon-inner-check" v-if="paid"></div>
    <div class="icon-icon-close" v-else></div>
    <div class="addLogItem" v-on:click="change_paid_status_wrapper()">לחצי כאן לשינוי סטטוס</div>
  </div> -->
  <div class="text">יומן מעקב עבור: <b>{{program}}</b></div>
  <div class="addLogItem" v-on:click="newLog = !newLog" v-if="!newLog">הוספת רשומה חדשה</div>
  <div class="addLogItem cancelButton" v-on:click="newLog = !newLog" v-else>ביטול</div>
  <!-- New Entry  -->
  <div class="newEntry" v-if="newLog">
    <div class="logOneliner">
      <div class="logHeader datetime">תאריך</div>
      <div class="logDatetime">{{datetime_now}}</div>
    </div>
    <div class="logOneliner">
      <div class="logHeader name">שם</div>
      <div class="logName">
        {{userName}}
        <br>
      </div>
    </div>
    <div class="logOneliner">
      <div class="logHeader desc">תוכן</div>
      <div class="logDesc">
        <textarea v-model="content" class rows="8" cols="60"></textarea>
        <div class="addLogItem" v-on:click="add_to_log(content)">הוספה ליומן</div>
      </div>
    </div>
  </div>
  <!-- End of New Entry -->
  <div class="logTable">
    <div v-for="l in log" class="logRow">
      <div class="logOneliner">
        <div class="logHeader datetime">תאריך</div>
        <div class="logDatetime">{{l.datetime}}</div>
      </div>
      <div class="logOneliner">
        <div class="logHeader name">שם</div>
        <div class="logName">
          {{l.name}}
          <br>
        </div>
      </div>
      <div class="logOneliner">
        <div class="logHeader desc">תוכן</div>
        <div class="logDesc">
          {{l.desc}}
          <br>
        </div>
      </div>
    </div>
    <div class="logActions delete"></div>
  </div>
</div>
</template>

<script>
import {get_current_datetime, add_to_actual_log, change_paid_status, get_paid_status} from "../../firesbaseService/ref_logs_queries"
import {get_file} from "../../firesbaseService/files_queries"
import '../../style/style.css';

export default {
  name: "ProgramLog",
  components: {},
  props: {
    log: Array,
    mother_id: String,
    second_id: String,
    program: String,
  },
  data() {
    return {
      content: "",
      userName: this.$store.getters.user_name,
      datetime_now: "",
      newLog: false,
      paid: false,
    };
  },
  async created() {
  },
  async updated(){
    this.datetime_now = this.time_wrapper();
  },
  // computed:{
  //   paid: function(){
  //     console.log("computed");
  //     return get_paid_status("", "", true);
  //   }
  // },
  methods: {
    change_paid_status_wrapper: async function(){
      let res = await change_paid_status(this.mother_id, this.second_id, this.program, !this.paid);
      this.paid = !this.paid;
    },

    add_to_log: async function (content) {
      var log_item = {name: this.userName, datetime:this.datetime_now, desc:this.content};
      this.log.push(log_item);
      this.newLog=!this.newLog;
      this.content = "";
      add_to_actual_log(this.mother_id,this.second_id,this.program,log_item);
    },
    time_wrapper: function() {
      let dt = get_current_datetime();
      dt = dt.split("_");
      let date = String(dt[0]);
      let time = String(dt[1]);
      var dateFixed = date.substr(0,2) + "-" +  date.substr(2,2) + "-" +  date.substr(4,4);
      var timeFixed = time.substr(0,2) + ":" +  time.substr(2,2);
      var datetimeFixed = dateFixed + " " + timeFixed
      return datetimeFixed;
    },
  }
};
</script>

<style lang="scss" scoped>
.programLogContainerInner{
  max-height: 100%;
  padding: 5%;
}

.logTable {
  background-color: #eaf0f1;
  margin: 0 5% 0 5%;
}

.logRow {
  // padding: 1% 5% 1% 5%;
  text-align: right;
  box-shadow: 3px 3px 5px 1px #abb7df;
  margin-bottom: 15px;
}

.logDesc {
  margin-left: 15%;
}

.logDatetime {
  text-align: center;
}

.logName {
  text-align: center;
}

.logHeader {
  font-size: 110%;
  font-weight: bold;
}

.desc {
  padding-left: 8%;
}

.name {
  padding-left: 10%;
}

.datetime {
  color: blue;
  padding-left: 5%;
}

.logOneliner {
  display: flex;
}

.addLogItem {
  background-color: lightgreen;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px 25% 15px 25%;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }

}

.cancelButton {
  background-color: red;
  color: white;
  margin-bottom: 10px;

  &:hover {
    color: black;
    background-color: red;
  }
}

.addButton {
  padding-right: 5%;
}

textarea {
  resize: none;
  text-align: center;
}

.newEntry {
  background-color: #9bcaf026;
  margin: 5%;
  width: 85%;
  margin-left: 15%;
  box-shadow: 0px 0px 3px 3px #75798761;
}

</style>
