<template>
  <div class="fileDisplayContainerWrapper">
    <div class="fileDisplayContainer" v-bind:class="{blurred : blurry}">
      <div class="exitIcon" v-on:click="exitClicked">
        <eva-icon name="close" fill="white"></eva-icon>
      </div>
      <div class="exitIcon EditIcon" v-on:click="editThisFile">
        <eva-icon name="edit" fill="white"></eva-icon>
      </div>
      <div class="detailsContainer">
        <div class="momContainer">
          <div class="text" >פרטי אמא</div>
          <div class="result">
            <div class="details">תז:</div>
            <input v-model=fileToShow.mother_id readonly>
          </div>
          <div class="result">
            <div class="details">שם פרטי:</div>
            <input v-model=fileToShow.mother_name readonly>
          </div>
          <div class="result">
            <div class="details">שם משפחה:</div>
            <input v-model=fileToShow.mother_last_name readonly>
          </div>
          <div class="result">
            <div class="details">טלפון:</div>
            <input v-model=fileToShow.mother_phone readonly>
          </div>
          <div class="result">
            <div class="details">עיסוק:</div>
            <input v-model=fileToShow.mother_occ readonly>
          </div>
          <div class="result">
            <div class="details">תאריך לידה:</div>
            <input v-model=fileToShow.mother_bdate readonly>
          </div>
          <div class="result">
            <div class="details">תוכניות:</div>
            <div class="programDetails">
              <select v-model="chosen_mom_program" v-on:change="change_program('mother')">
                <option v-for="(program,name) in fileToShow.mother_programs" v-bind:key="name">{{name}}</option>
              </select>
              <div v-if="chosen_mom_program != ''" class="showLogButton"  v-on:click="setShowPrograms('mom', true)">יומן</div>
            </div>
          </div>
        </div>
        <div class="dadContainer">
          <div class="text">פרטי אבא</div>
          <div class="result">
            <div class="details">תז:</div>
            <input v-model=fileToShow.father_id readonly>
          </div>
          <div class="result">
            <div class="details">שם פרטי:</div>
            <input v-model=fileToShow.father_name readonly>
          </div>
          <div class="result">
            <div class="details">שם משפחה:</div>
            <input v-model=fileToShow.father_last_name readonly>
          </div>
          <div class="result">
            <div class="details">טלפון:</div>
            <input v-model=fileToShow.father_phone readonly>
          </div>
          <div class="result">
            <div class="details">עיסוק:</div>
            <input v-model=fileToShow.father_occ readonly>
          </div>
          <div class="result">
            <div class="details">תאריך לידה:</div>
            <input v-model=fileToShow.father_bdate readonly>
          </div>
          <div class="result">
            <div class="details">תוכניות:</div>
            <div class="programDetails">
              <select v-model="chosen_dad_program" v-on:change="change_program('dad')">
                <option class="optionClass" v-for="(program,name) in fileToShow.father_programs" v-bind:key="name">{{name}}</option>
              </select>
              <div v-if="chosen_dad_program != ''" class="showLogButton" v-on:click="setShowPrograms('dad', true)">יומן</div>
            </div>
          </div>
        </div>
        <div class="overrallContainer">
          <div class="overallDetailsTop">
            <div class="text" >פרטים כללים</div>
            <div class="result">
              <div class="details">מייל משפחתי:</div>
              <input v-model=fileToShow.mail readonly>
            </div>
            <div class="result">
              <div class="details">גורם מפנה:</div>
              <input v-model=fileToShow.ref readonly>
            </div>
            <div class="result">
              <div class="details">כתובת:</div>
              <input v-model=fileToShow.address readonly>
            </div>
            <div class="result">
              <div class="details">תאריך הצטרפות:</div>
              <input type="date" v-model=fileToShow.signup_date readonly>
            </div>
            <div class="result" v-if="hasRefs">
              <div class="details">הפניות</div>
              <div class="fileRefList">
                <select class="selectClass" multiple>
                  <option v-bind:class="{pending: ref.status == 'pending',declined: ref.status == 'declined',approved: ref.status == 'approved', }" v-for="ref in all_refs" v-on:click="change_reflog(ref.ref_id)">{{ref.ref_name}} - {{ref.child_name}}</option>
                </select>
                <div v-if="chosen_reflog_id != ''" class="showLogButton" v-on:click="setShowPrograms('refLog', true)">מעבר</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="childText">ילדים</div>
      <div class="childrenContainer">
        <div class="childContainer" v-for="(child,id) in fileToShow.children" v-bind:key="child.id">
          <div class="childHeadline" v-on:click="toShow = !toShow; current_child=child; child_id=id">{{child.name}}</div>
          <div class="childPrograms" v-for="(program,name) in child.programs" v-bind:key="name">{{name}}</div>
          <ViewChild
          v-bind:child="current_child"
          v-bind:child_id="child_id"
          v-bind:mother_id="fileToShow.mother_id"
          v-bind:closeViewChild="closeViewChild"
          v-if="toShow"
          ></ViewChild>
        </div>
      </div>
    </div>
    <div class="programLogContainerAllWrapper">
      <div class="programLogContainerAll" v-bind:class="{notBlurred : blurry}" v-if="showMotherProgramLog">
        <div class="closeButton" v-on:click="setShowPrograms('mom', false)">סגירת חלון</div>
        <ProgramLog v-if="userAuth" v-bind:log="current_program_log" v-bind:program="chosen_mom_program" v-bind:second_id=null v-bind:mother_id="fileToShow.mother_id"></ProgramLog>
        <div class="notAuthed" v-else><br><br>התוכנית <b>-{{chosen_mom_program}}-</b> איננה ברשימת בתוכניות שלך<br><br><br></div>
      </div>
      <div class="programLogContainerAll" v-bind:class="{notBlurred : blurry}" v-if="showFatherProgramLog">
        <div class="closeButton" v-on:click="setShowPrograms('dad', false)">סגירת חלון</div>
        <ProgramLog v-if="userAuth" v-bind:log="current_program_log" v-bind:program="chosen_dad_program" v-bind:second_id="fileToShow.father_id" v-bind:mother_id="fileToShow.mother_id"></ProgramLog>
        <div class="notAuthed" v-else><br><br>התוכנית <b>-{{chosen_dad_program}}-</b> איננה ברשימת בתוכניות שלך<br><br><br></div>
      </div>
    </div>
    <div class="SingleRefLogContainerAllWrapper" v-if="showSingleRefLog">
      <div class="SingleRefLogContainerAll" v-bind:class="{notBlurred : blurry}" v-if="showSingleRefLog">
        <!-- <div class="closeButton" v-on:click="setShowPrograms('refLog', false)">סגירת חלון</div> -->
        <SingleReferralPopUp v-if="chosen_reflog_id != ''" v-bind:referral="this.all_refs[chosen_reflog_id]" v-bind:closePopUp="closePopUp"></SingleReferralPopUp>
      </div>
    </div>
  </div>
</template>

<script>
import ErrorPopUp from "../popUps/ErrorPopUp";
import SingleReferralPopUp from "../ReferralsLog/SingleReferralPopUp";
import ViewChild from "./ViewChild";
import ProgramLog from "./ProgramLog";
import {get_ref_by_mother_id} from '../../firesbaseService/ref_logs_queries.js';

export default {
  name: "SingleFileDisplay",
  props: {
    fileToShow: {
      type: Object,
      required: true
    },
  },
  components: {
    ViewChild,
    ProgramLog,
    SingleReferralPopUp,
  },
  beforeRouteEnter (to, from, next) {
    if(from.name === 'Files' || from.name === "Queries"){
      next();
    }
    else{
      next('/files');
    }
  },

  data() {
    return {
      hasRefs: true,
      toShow: false,
      current_child: {},
      child_id: -1,
      showMotherProgramLog: false,
      showFatherProgramLog: false,
      chosen_reflog_id: "",
      showSingleRefLog: false,
      userAuth: false,
      userType: this.$store.getters.user_type,
      programs: [],
      chosen_dad_program: "",
      chosen_mom_program: "",
      current_program_log: [],
      blurry: false,
      all_refs:[],
    }
  },
  methods: {
    closePopUp: function(){
      this.showSingleRefLog = false;
      this.blurry = false;
    },
    editThisFile: function() {
      this.$router.push({
        name: "AddFile",
        params: {
          fileToEdit: this.$props.fileToShow,
          editMode: true,
        }
      })
    },
    exitClicked: function() {
      this.$router.go(-1);
    },
    setShowPrograms: function(parent,val) {
      if(parent == "mom"){
        this.showMotherProgramLog = val
      }
      else if (parent == "dad"){
        this.showFatherProgramLog = val;
      }
      else if (parent == "refLog"){
        this.showSingleRefLog = val;
      }
      this.blurry = val;
    },
    change_program: function(parentName){
      let program = "";
      let parent = [];
      if(parentName == "dad")
      {
        program = this.chosen_dad_program;
        parent = this.fileToShow.father_programs;
      }
      else{
        parent = this.fileToShow.mother_programs;
        program = this.chosen_mom_program;
      }
      let flag = false;
      if (this.userType === "admin")
      {
        flag = true;
      }
      if(!flag)
      {
        let users_programs = this.$store.getters.getUserPrograms;
        users_programs.forEach(curr_program => {
          if(curr_program === program){
            flag = true;
          }
        })
      }
      if(!flag){
        this.current_program_log = [];
        this.paid = false;
        this.userAuth = false;
        return;
      }
      if (parent[program] || flag)
      {
        this.current_program_log = parent[program].log;
        this.paid = parent[program].paid;
        this.userAuth = true;
      }
    },
    closeViewChild: function() {
      this.toShow = false;
    },
    change_reflog: function(val) {
      this.chosen_reflog_id = val;
    }
  },
  async created(){
    this.all_refs = await get_ref_by_mother_id(this.fileToShow.mother_id);
    if(this.all_refs.length == 0){
      this.hasRefs = false;
    }
    let temp = {};
    for (let i = 0; i < this.all_refs.length; i++) {
      temp[this.all_refs[i].ref_id] = this.all_refs[i];
    }
    this.all_refs = temp;
  }
}
</script>

<style lang="scss" scoped>

.pending{
  background-color: rgba(251, 255, 192, 0.8);
  color: black;
}

.declined{
  background-color: rgba(255, 210, 210, 0.8);
  color: black;
}

.approved{
  background-color: rgba(65, 191, 65, 0.8);
  color: white;
  &:active{
    color:red;
  }
}

.optionClass{
  height:5%;
}

.selectClass{
  width: 100%;
  height: 100%;
  background-color: white;

}

.SingleRefLogContainerAllWrapper{
  width: 100%;
  position: absolute;
  z-index: 100;
  // pointer-events: auto;
  top: 0;
  // right: 30%;
  height: 100%;
  overflow: auto;
  // max-height: 80%;
}

.fileDisplayContainerWrapper{
  height: 100%;
  width: 100%;
  text-align: center;
}

.fileRefList{
  width: 100%;
}

.fileDisplayContainer{
  max-height: 87%;
  max-width: 100%;
  margin-top: 5px;
  overflow-y: auto;
  text-align: center;
  overflow-x: hidden;
  select{
    width: 60%;
  }
  &.blurred{
    transition: 0.3s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
  }


  .details{
    width: 50%;
  }
  #headline{
    font-size: -webkit-xxx-large;
    font-style: italic;
    font-weight: 900;
  }
  .detailsContainer{
    display: flex;
    margin-top: 5px;
    max-height: 100%;
    input{
      text-align: center;
      width: 75%;
    }

    .result{
      .details{
        display: inline-block;
      }

    }
    .momContainer{
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96,130,173,0.15);
      background-color: rgba(255,255,255,0.7);
      padding-top: 1%;
      .momDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .dadContainer{
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96,130,173,0.15);
      background-color: rgba(255,255,255,0.7);
      margin-right: 5%;
      padding-top: 1%;
      .dadDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

      }
    }
    .overrallContainer{
      width: 33%;
      margin-right: 5%;
      padding-top: 1%;
      margin-bottom: 15%;
      .overallDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        .result{
          text-align: center;
          width: 20%;
          top: 10px;
          .details{
            display: inline-block;
          }
        }
        input{
          width: 70%;
          top: 5px;
        }
      }
    }
    .childrenContainer{
      display: flex;
      justify-content: center;
    }
    .text{
      font-weight: bold;
      font-size: x-large;
      padding-bottom: 10px;

    }

  }
}

.detailsContainerV2{
  width: 20%;
  height: 40%;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
  margin-right: 5%;
  padding-top: 1%;
}

.closeButton{
  background-color: rgba(0,0,0,0.1);

  &:hover{
    cursor: pointer;
    background-color: rgba(150, 61, 53, 0.4);
  }
}

.childText{
  font-weight: bold;
  font-size: x-large;
  padding-top: 5px;
}

.singleRow{
  display: flex;
}

.SingleRefLogContainerAll{
  width: 100%;
  height: 100%;
  // z-index: 100;
  // pointer-events: auto;

  &.notBlurred{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.1px solid black ;
  }

}
.childHeadline{
  font-weight: bold;
  font-size: large;
  cursor: pointer;
  padding-bottom: 3%;
}
.exitIcon{
  position: absolute;
  height: 25px;
  background-color: #c24a4a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: black;
    box-shadow: 0px 0px 0px 2px white;
  }
}

.EditIcon{
  left: 1%;
  background-color: #cdbd00;
  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px white;
  }
}

.childPrograms{
  max-width: 100%;
  max-height: 100%;
  font-size: small;
  margin-bottom: 2%;
  border-right: solid 1px;
  border-left: solid 1px;
  border-radius: 5px;
}

input{
  padding: 5px;
  margin-bottom: 10px;
}

.overallDetailsTop{
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
}

.childContainer{
  width: 15%;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
  padding: 1%;
  margin: 1%;

  &:hover{
    background-color: rgba(216, 190, 96, 0.5);
  }
}

.programDetails{
  display: flex;
  justify-content: center;
}

.showLogButton{
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 3%;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.programLogContainerAll{
  display: inline-block;
  width: 100%;
  // z-index: 100;
  // pointer-events: auto;

  &.notBlurred{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.1px solid black ;
  }

}
.childrenContainer{
  display: flex;
  justify-content: center;
}
.programLogContainerAllWrapper{
  width: 40%;
  position: absolute;
  z-index: 101;
  pointer-events: auto;
  top: 18%;
  right: 30%;
  overflow: auto;
  max-height: 80%;
}

.programLogInner{
  justify-content: center;
  align-items: center;

}
::-webkit-scrollbar {
  width: 6px;
  // padding: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
