<template>
  <div class="mainContainer">
    <div id="overlay"></div>
    <div class="viewChildContainer">
      <div class="closeButton" >
        <eva-icon name="close-circle-outline" v-on:click="closePopUp" fill="#d93434" animation="pulse"></eva-icon>
      </div>
      <div class="sideBySide">
        <div class="editChild">
          <div class="childValues">
            <div class="childRow singleRow">
              <div class="singleRowComp">
                <div class="text">שם</div>
                <div class="inputTag">{{child.name}}</div>
              </div>
              <div class="singleRowComp">
                <div class="text">תעודת זהות</div>
                <div class="inputTag">{{child_id}}</div>
              </div>
              <div class="singleRowComp">
                <div class="text">תאריך לידה</div>
                <div class="inputTag" type="date">{{child.birth_date}}</div>
              </div>
            </div>
            <div class="childRow descRow">
              <div class="text">תיאור</div>
              <div class="inputTag" :readonly="true">{{child.description}}</div>
            </div>
            <div class="childRow descRow">
              <div class="text">מטרות</div>
              <div class="inputTag" :readonly="true">{{child.objectives}}</div>
            </div>
            <div class="childRow programsRow">
              <div class="text">תוכניות</div>
              <select multiple>
                <option v-for="val,key in programs" v-bind:key="key" :value="key" v-on:click="change_program(key)">
                  {{key}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="programLogContainer">
          <ProgramLog v-if="userAuth" v-bind:log="current_program_log" v-bind:program="chosen_program" v-bind:second_id="child_id" v-bind:mother_id="mother_id"></ProgramLog>
          <div class="notAuthed" v-else>התוכנית<br> <b>{{chosen_program}}</b><br> איננה ברשימת התוכניות שלך</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ErrorPopUp from "../popUps/ErrorPopUp";
import {get_current_datetime} from "../../firesbaseService/ref_logs_queries"
import ProgramLog from "../../components/Files/ProgramLog"


export default {
  name: "ViewChild",
  props: {
    child: Object,
    db_programs: Array,
    mother_id: String,
    closeViewChild: Function,
    child_id: String,
  },
  components: {
    ErrorPopUp,
    ProgramLog,
  },
  data() {
    return {
      errorPopUpData: {},
      userAuth: false,
      userType: this.$store.getters.user_type,
      programs: [],
      showPopUp: false,
      content: "",
      userName: this.$store.getters.user_name,
      datetime_now: "",
      newLog: false,
      chosen_program: "",
      current_program_log: [],
    };
  },
  methods: {
    change_program: function(program){
      this.chosen_program = program;
      let ch = this.child.programs;
      let flag = false;
      if (this.userType === "admin")
      {
        flag = true;
      }
      if(!flag)
      {
        let users_programs = this.$store.getters.getUserPrograms;
        users_programs.forEach(curr_program => {
          if(curr_program === program){
            flag = true;
          }
        })
      }
      if(!flag){
        this.current_program_log = [];
        this.paid = false;
        this.userAuth = false;
        return;
      }
      if (ch[program] || flag)
      {
        this.current_program_log = ch[program].log;
        this.paid = ch[program].paid;
        this.userAuth = true;
      }
    },
    saveChild: function(){
      this.$props.addChild(this.$data.child);
    },
    closePopUp: function(){
      this.$props.closeViewChild();
    },
    remove: function() {
      this.$data.showPopUp = true;
      this.$data.errorPopUpData = {
        isOpen: true,
        popUpTitle: "שים לב!",
        message: "האם את בטוחה שברצונך להסיר את הילד הזה?",
        approveButtonText: "כן",
        cancelButtonText: "לא"
      };
      let self = this;
      this.$data.errorPopUpData.callBackFunction = function() {
        if (self.$data.errorPopUpData.approveSelected) {
          self.$props.removeChild(self.child);
        }
      };

      this.$store.commit("setErrorPopUpIsOpen", true);
    }
  },
  created(){
    let child_file = this.$props.child.programs;
    this.programs = child_file;
    this.child.programs = this.programs;
  }
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.viewChildContainer{
  z-index: 1;
  position: absolute;
  width: 80%;
  margin: 0px;
  height: 80%;
  overflow: auto;
  // border: 1px solid black;
  top: 15%;
  left: 10%;
  // background-image: linear-gradient(#ffffff, #b0bec3);
  background-color: white;
  // border-radius: 10px;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-image: linear-gradient(rgba(173, 216, 230, 0.5), white);
  //  filter: blur(8px);
  // -webkit-filter: blur(8px);
  // opacity: 0.16;
  // -webkit-filter:blur(4px);
}

// #overlay{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   filter:blur(4px);
//   color: rgba(130, 130, 130, 0.5);
// }

.editChild{
  width: 50%;
}

.programLogContainer{
  width: 50%;
  text-align: center;
}

.inputTag{
  background-color: rgba(74, 81, 104, 0.05);
}

.closeButton{
  border-radius: 5px;
  padding: 2px;
  position: fixed;
  cursor: pointer;

  &:hover{
    color: lightblue;
  }
}

.sideBySide {
  display: flex;
  padding: 15px;

  .icon {
    width: 0;
    &:hover{
      cursor: pointer;
    }
    &::before {
    }
  }
  .childValues {
    width: 100%;
    display: inline-block;
    max-height: 100%;
    overflow: auto;

    .childRow {
      text-align: center;

      select {
        height: auto;
        text-align: center;
      }

      .text {
        // font-weight: bold;
        font-family: 'Varela Round', sans-serif;
        text-decoration: underline;
        cursor: default;
      }

      div {
        text-align: center;
        color: black;
      }
      .divTag {
        width: 40%;
        border: 1px solid black;
        color: black;
      }
    }

    button {
      width: 40%;
      border: 1px solid black;
      background-color: darkturquoise;

      &:hover {
        cursor: pointer;
        color: black;
      }
    }
  }
}
.logTable {
  background-color: #eaf0f1;
}

.logRow {
  padding: 1% 5% 1% 5%;
  text-align: right;
  border-color: #add;
  border-style: double;
  padding: 5px;
}

.singleRow{
  padding-bottom: 10px;
  display: flex;
}

.singleRowComp{
  width:50%;
  width: 50%;
  background-color: rgba(74, 81, 104, 0.05);
  margin: 5px
}

.descRow{
  padding-bottom: 30px;
}

.objRow{
  padding-bottom: 1px;
}

.programsRow{
  padding-bottom: 1px;
}
.payButton{

}



.logDesc {
  width: 60%;
}

.logDatetime {
  text-align: center;
}

.logName {
  text-align: center;
}

.logHeader {
  font-size: 110%;
  font-weight: bold;
}

.desc {
  padding-left: 8%;
}

.name {
  padding-left: 10%;
}

.datetime {
  color: blue;
  padding-left: 5%;
}

.logOneliner {
  display: flex;
  padding-right: 40%;
}

.addLogItem {
  border-style: solid;
  background-color: lightblue;
  border-radius: 5%;
  padding: 0.5%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin: 5px 0px 10px 0px;
  opacity: 0.6;
  -webkit-transition: 0.1s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.cancelButton {
  background-color: red;
  color: white;

  &:hover {
    color: black;
    background-color: red;
  }
}

.addButton {
  padding-right: 5%;
}

textarea {
  resize: none;
  text-align: center;
}

.newEntry {
  background-color: #eaf0f9;
  padding: 5% 0% 5% 0%;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
  // padding: 5px;
}

/* Track */
// ::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 5px grey;
//   border-radius: 15px;
// }
//
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #4a5168;
//   border-radius: 50px;
// }
//
// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: lightblue;
// }
</style>
