<template>
  <div class="adminPanel">
    <div class="routerLinks">
      <div class="router_tag">
        <router-link class="link" to="/admin/programs">תוכניות</router-link>
      </div>
      <div class="router_tag">
        <router-link class="link" to="/admin/referrals">גורמים מפנים מורשים</router-link>
      </div>
      <div class="router_tag">
        <router-link class="link" to="/admin/">משתמשות</router-link>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import '../../style/style.css'
import * as firebase from 'firebase'
import * as users_queries from '../../firesbaseService/users_queries.js'

export default {
  name: 'AdminPanel',
  components: {

  },
  data(){
    return{
      user_name: "",
      user_mail: "",
      user_type: "תשתנה!!",
      user_password: "",
      user_types: {
        "admin": "מנהלת ראשית",
        "manager": "רכזת",
        "instructor": "מדריכה"
      }
    }
  },

  methods:{

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.adminPanel {
  overflow: auto;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  .router_link {
    color: black;
    margin: 2%;
  }
}
.inputConatiner{
  height: 20%;
  display: grid;
  justify-content: center;
  input{
    width: 100%;
    margin: 2% 0;
    text-align: center;
  }
}
.routerLinks{
  display: flex;
  width: 50%;
  margin-right: 40%;
  margin-bottom: 3%;
  margin-top: 1%;
}
.link{
  text-decoration: none;
  background-color: rgba(211,245,255,0.5);
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 5px;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: rgba(211,245,255,0.5);
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}
.buttonsContainer{
  text-align: center;
  .innerButtonsDiv{
    display: inline-block;
    width: 55%;
  }
  button{
    width: 40%;
    margin: 2%;
    border-radius: 500px;
    background-color: darkturquoise;
  }
}

</style>
