<template>
  <div class="programContainer">
    <div class="searchContainer">
      <input type="text" placeholder="שם התוכנית" v-model="new_program_name">
      <div class="buttonClick" type="button" v-on:click="add_program_wrapper(new_program_name)">הוספת תוכנית</div>
    </div>
    <div class="programs">
      <div class="tableContainer">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1">שם התוכנית<br><br></div>
            <div class="col col-2">סטטוס</div>
            <div class="col col-4">פעולות</div>
          </li>
          <li class="table-row"  v-for="k in all_keys">
            <div class="col col-1" v-if="k.edit_mode == true">
              <input type="text" name="" v-model="k.name">
              <div class="program_button" v-on:click="set_program_name_wrapper(k.id,k.name), k.edit_mode=!k.edit_mode">שמירה</div>
            </div>
            <div class="col col-1" data-label="שם התוכנית" v-else>{{k.name}}
            </div>
            <div class="col activeText col-2" data-label="סטטוס" v-if="k.active == true">פעיל</div>
            <div class="col inactiveText col-2" data-label="סטטוס" v-else>לא פעיל</div>
            <div class="col col-4" data-label="פעולות">
              <div class="icon edit icon-icon-pencil" alt="dad" v-on:click="k.edit_mode=!k.edit_mode"></div>
              <div class="icon delete icon-icon-delete" v-on:click="delete_program_wrapper(k.id)"></div>
              <div class="icon active icon-icon-eye-unactive" v-if="k.active == true" v-on:click="disable_program_wrapper(k.id)"></div>
              <div class="icon inactive icon-icon-eye" v-else v-on:click="enable_program_wrapper(k.id)"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</template>

<script>
import {get_all_programs, delete_program,add_program,set_program_name,enable_program,disable_program} from '../../firesbaseService/programs_queries.js'
import {INVALID_NAME_ALERT} from '../../consts.js'
export default {
  name: 'ProgramsPanel',
  data() {
    return {
      new_program_name: "",
      all_keys: [],
    }
  },
  methods: {
    set_program_name_wrapper: async function(id,new_name) {
      await set_program_name(id,new_name)
    },

    enable_program_wrapper: async function(id) {
      for (var i = 0; i < this.all_keys.length; i++) {
        if(this.all_keys[i]['id'] == id)
        {
          this.all_keys[i]['active'] = true;
          break;
        }
      }
      await enable_program(id)
    },

    disable_program_wrapper: async function(id) {
      for (var i = 0; i < this.all_keys.length; i++) {
        if(this.all_keys[i]['id'] == id)
        {
          this.all_keys[i]['active'] = false;
          break;
        }
      }
      await disable_program(id)
    },

    all_codes: async function() {
      let k = await get_all_programs();
      return k;
    },


    delete_program_wrapper: async function(id) {
      let response = confirm("אישור מחיקה");
      if (!response) {
        return;
      }
      await delete_program(id)
      for (var i = 0; i < this.all_keys.length; i++) {
        if(this.all_keys[i]['id'] == id)
        {
          this.all_keys.splice(i,1);
          return;
        }
      }
    },
    add_program_wrapper: async function (name)
    {
      if (name == "")
      {
        alert(INVALID_NAME_ALERT);
        return;
      }
      let new_program = {};
      let new_code = await add_program(name);
      new_program['name'] = name;
      new_program['active'] = true;
      new_program['id'] = new_code;
      new_program['edit_mode'] = false;
      let str = "תוכנית חדשה נוספה למערכת!\n"
      str += "שם:  " + new_program.name + '\n'
      this.all_keys.push(new_program);
      alert(str)
    },

  },
  async beforeCreate() {
    this.all_keys = await get_all_programs();
  },
}
</script>

<style lang="scss" scoped>
.table_header{
  text-align: right;
  direction: rtl;
}


.program_button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  font-size: 13px;
  margin: 0px 0px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.program_button:hover {opacity: 1}

body {
  font-family: 'lato', sans-serif;
}
.programContainer {
  direction: rtl;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

input{
  width: 50%;
  text-align: center;
}

.searchContainer{
  width: 20%;
  height: 40%;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
  margin-right: 5%;
  padding-top: 1%;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}
.programs{
  width: 50%;
}

.tableContainer{
  width: 120%;
  max-height: 25%;
  padding-left: 10px;
  overflow: auto;
  .tableContainer {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    .table-header {
      background-color: #eaf1fe;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }
    .col-1 {
      flex-basis: 33%;
    }
    .col-2 {
      flex-basis: 33%;
    }

    .col-4 {
      flex-basis: 33%;
      display: inline-block;
    }
    .icon{
      display: inline-block;
      margin: 5px;
      padding: 5px;
      font-weight: bold;
      border-radius: 5px;
      border-color: black;
      border-style: groove;
      transition: 0.4s;
    }
    .icon:hover{
      color: black;
      border-radius:100%
    }
    .icon.inactive{
      border-color: lightgreen;
      color: lightgreen;
    }
    .icon.inactive:hover{
      color: black;
    }

    .icon.edit{
      border-color: lightblue;
    }

    .icon.delete{
      border-color: red;
      color: red;
    }
    .icon.delete:hover{
      color: black;
    }
    .icon.active{
      border-color: red;
      color: red;
    }
    .icon.active:hover{
      color: black;
    }

    .activeText{
      color: green;
      font-weight: bold;
    }

    .inactiveText{
      color: red;
      font-weight: bold;
    }
    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }

      li {
        display: block;
      }
      .col {

        flex-basis: 100%;

      }

      .col {
        display: flex;
        padding: 10px 0;
        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
}

.buttonClick{
  background-color: lightgreen;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px 25% 15px 25%;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.responsive-table{
  margin-inline-start: 40px;
  padding-inline-start: 0px;
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
}
</style>
