<template>
  <div class="refContainer">
    <div class="addRefContainer">
      <input type="text" placeholder="שם הגורם" v-model="new_ref_name">
      <div class="buttonClick" type="button" v-on:click="add_ref_wrapper(new_ref_name)">הוספת תחום</div>
    </div>
    <div class="refTableContainer">
      <ul class="refResponsive-table">
        <li class="table-header">
          <div class="col col-1">שם גורם<br><br></div>
          <div class="col col-2">קוד גישה</div>
          <div class="col col-4">פעולות</div>
        </li>
        <li class="table-row" v-for="k in all_keys" v-bind:key="k.name">
          <div class="col col-1" v-if="k.edit_mode == true">
            <input type="text" v-model="k.name">
            <div class="ref_button"
            v-on:click="set_ref_name_wrapper(k.access_code,k.name), k.edit_mode=!k.edit_mode">שמירה
          </div>
        </div>
        <div class="col col-1" data-label="שם גורם" v-else>{{k.name}}
        </div>
        <div class="col col-2" data-label="קוד גישה">{{k.access_code}}</div>
        <div class="col col-4" data-label="פעולות">
          <div class="icon edit icon-icon-pencil" v-on:click="k.edit_mode=!k.edit_mode"></div>
          <div class="icon delete icon-icon-delete" v-on:click="delete_ref_wrapper(k.access_code)"></div>
        </div>
      </li>
    </ul>
  </div>
</div>

</template>

<script>
import {get_all_refs, delete_ref, add_ref, set_ref_name} from '../../firesbaseService/outsourcing_queries.js'
import {INVALID_NAME_ALERT} from '../../consts.js'

export default {
  name: 'ReferralsPanel',
  data() {
    return {
      new_ref_name: "",
      all_keys: [],
    }
  },
  methods: {
    set_ref_name_wrapper: async function (access_code, new_name) {
      await set_ref_name(access_code, new_name)
    },


    all_codes: async function () {
      let k = await get_all_refs();
      return k;
    },


    delete_ref_wrapper: async function (access_code) {
      let response = confirm("אישור מחיקה");
      if (!response) {
        return;
      }
      await delete_ref(access_code)
      for (var i = 0; i < this.all_keys.length; i++) {
        if (this.all_keys[i]['access_code'] == access_code) {
          this.all_keys.splice(i, 1);
          return;
        }
      }
    },
    add_ref_wrapper: async function (name) {
      if (name == "") {
        alert(INVALID_NAME_ALERT);
        return;
      }
      let new_ref = {};
      let new_code = await add_ref(name);
      new_ref['name'] = name;
      new_ref['access_code'] = new_code;
      new_ref['edit_mode'] = false;
      let str = "תחום חדש נוסף !\n"
      str += "שם:  " + new_ref.name + '\n'
      str += "קוד גישה:  " + new_ref.access_code + '\n'
      this.all_keys.push(new_ref);
      alert(str)
    },

  },
  async beforeCreate() {
    this.all_keys = await get_all_refs();
    // console.log(this.all_keys);


  },
}
</script>

<style lang="scss" scoped>
.table_header {
  text-align: right;
  direction: rtl;
}

.addRefContainer {
  width: 20%;
  height: 40%;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
  margin-right: 5%;
  padding-top: 1%;
}

.ref_button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  font-size: 13px;
  margin: 0px 0px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.ref_button:hover {
  opacity: 1
}

body {
  font-family: 'lato', sans-serif;
}

.refContainer {
  direction: rtl;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;

  small {
    font-size: 0.5em;
  }
}

.refTableContainer {
  width: 50%;
  .text {

  }

  .refResponsive-table {
    margin-inline-start: 40px;
    padding-inline-start: 0px;
    box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.7);

    width: 120%;
    max-height: 40%;
    padding-left: 10px;
    overflow: auto;

    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }

    .table-header {
      background-color: #eaf1fe;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }

    .table-row {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col-1 {
      flex-basis: 33%;
    }

    .col-2 {
      flex-basis: 33%;
    }

    .col-4 {
      flex-basis: 33%;
      display: inline-block;
    }

    .icon {
      display: inline-block;
      margin: 5px;
      padding: 5px;
      font-weight: bold;
      border-radius: 5px;
      border-color: black;
      border-style: groove;
      transition: 0.4s;
    }

    .icon:hover {
      color: black;
      border-radius: 100%
    }

    .icon.inactive {
      border-color: lightgreen;
      color: lightgreen;
    }

    .icon.inactive:hover {
      color: black;
    }

    .icon.edit {
      border-color: lightblue;
    }

    .icon.delete {
      border-color: red;
      color: red;
    }

    .icon.delete:hover {
      color: black;
    }

    .icon.active {
      border-color: red;
      color: red;
    }

    .icon.active:hover {
      color: black;
    }


    @media all and (max-width: 767px) {
      .table-header {
        display: none;
      }

      li {
        display: block;
      }
      .col {

        flex-basis: 100%;

      }

      .col {
        display: flex;
        padding: 10px 0;

        &:before {
          color: #6C7A89;
          padding-right: 10px;
          content: attr(data-label);
          flex-basis: 50%;
          text-align: right;
        }
      }
    }
  }
}

input{
  width: 50%;
  text-align: center;
}

.buttonClick{
  background-color: lightgreen;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px 25% 15px 25%;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

</style>
