<template>
  <div class="container">
    <div class="addUserContainer">
      <div class="compHeader">הוספת משתמשת חדשה</div>
      <div class="addUser">
        <div class="inputConatiner">
          <div class="signUpRow">
            <div class="signUpRowComp">
              <div class="signUpHeader">שם משתמשת</div>
              <input v-model="user_name" placeholder="שם משתמשת" onfocus="this.placeholder = ''" onblur="this.placeholder = 'שם משתמשת'">
            </div>
            <div class="signUpRowComp">
              <div class="signUpHeader">סיסמא</div>
              <input v-model="user_password" placeholder="סיסמא" type="password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'סיסמא'">
            </div>
          </div>
          <div class="signUpRow">
            <div class="signUpRowComp">
              <div class="signUpHeader">דואר אלקטרוני</div>
              <input v-model="user_mail" placeholder="מייל" onfocus="this.placeholder = ''" onblur="this.placeholder = 'מייל'">
            </div>
            <div class="signUpRowComp">
              <div class="signUpHeader">סוג משתמשת</div>
              <select v-model="user_type">
                <option v-for="(t,d) in user_types" v-bind:key="t" v-bind:value="d">{{t}}</option>
              </select>
            </div>
          </div>
          <div class="userProgramsContainer" v-if="user_type!='admin'">
            <div>תוכניות:</div>
            <Dropdown v-if="programsReady" v-bind:programs="db_programs" v-bind:chosen_programs="user_programs"></Dropdown>
          </div>
    </div>
    <br>
    <div class="buttonsContainer">
      <div class="signUpButton" v-on:click="sign_me_up">הרשמי</div>
    </div>
  </div>
</div>
<div class="usersPanel">
  <div class="compHeader">ניהול משתמשות קיימות</div>
  <UsersDisplay></UsersDisplay>
</div>
<div class="errorPopUpContainer" v-if="errorPopUpData.isOpen">
  <ErrorPopUp v-bind:errorPopUpData="errorPopUpData"></ErrorPopUp>
</div>
</div>
</template>

<script>
import '../../style/style.css'
import * as firebase from 'firebase'
import * as users_queries from '../../firesbaseService/users_queries.js'
import * as program_queries from '../../firesbaseService/programs_queries'
import UsersDisplay from "../AdminPanel/UsersDisplay"
import ErrorPopUp from '../popUps/ErrorPopUp'
import Dropdown from '../Dropdown'
export default {
  name: 'UsersPanel',
  components: {
    UsersDisplay,
    ErrorPopUp,
    Dropdown
  },
  async created() {
    this.user_type = "רכזת";
    let programs = await program_queries.get_all_programs();
    programs.forEach(program => {
      if(program.active){
        this.db_programs[program.name] = {
          name: program.name,
          selected: false,
        }
      }
    })
    this.programsReady = true;
  },
  data(){
    return{
      programsReady: false,
      errorPopUpData: {},
      programsDropDownIsOpen: false,
      db_programs: {},
      user_programs: {} ,
      saveCancel: false,
      user_name: "",
      user_mail: "",
      user_type: "",
      user_password: "",
      user_types: {
        "admin": "מנהלת ראשית",
        "manager": "רכזת",
        "instructor": "מדריכה",
      }
    }
  },

  methods:{
    sign_me_up: async function()
    {
      this.saveCancel = false;
      if(!users_queries.validate_mail(this.$data.user_mail) || users_queries.validate_user_type(this.$data.user_type) || this.user_name == "")
      {
        this.errorPopUpData = {
            isOpen: true,
            popUpTitle: "שגיאה",
            message: "אחד מהפרטים הבאים לא תקין: שם משתמש, סיסמא, אימייל",
            approveButtonText: "אישור",
            showCancelButton: false,
            showApproveButton: true,
          }
          this.errorPopUpData.callBackFunction = function(){
            return;
          }
      }
      let self = this;
      await users_queries.get_all_users().then(async function(users){
        let userExists = false;
        users.forEach(async function(user){
          if(user.id == self.user_name){userExists = true;}
        });
        if(userExists){
          self.errorPopUpData = {
            isOpen: true,
            popUpTitle: "אזהרה",
            message: "קיימת משתמשת זהה",
            approveButtonText: "אישור",
            showCancelButton: false,
            showApproveButton: true,
          }
          self.errorPopUpData.callBackFunction = function(){
          }
        }
        else{
          let secondary = self.$store.getters.getSecondaryApp
          await secondary.auth().createUserWithEmailAndPassword(self.$data.user_mail,self.$data.user_password).then(cred => {
          cred.user.updateProfile({
            displayName: self.$data.user_name,
          })
          users_queries.add_user(self.$data.user_type,self.$data.user_name,self.$data.user_mail,self.user_programs);
          self.errorPopUpData = {
            isOpen: true,
            popUpTitle: "הידד",
            message: "משתמשת הוספה בהצלחה",
            showCancelButton: false,
            showApproveButton: false,
            timerOn: true,
          }
          self.errorPopUpData.callBackFunction = function(){
            self.saveCancel = false;
            location.reload();
          }
          
        })
        .catch(function(){
        })
        }
      });


    },

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.compHeader{
  font-weight: bold;
  font-size: x-large;
}

.programTag {
  position: relative;
  cursor: pointer;
  display: inline-block;

  .text {
  }

  .program {
    background-color: #ffffff;
    width: auto;
    height: 30px;
    display: flex;
    padding: 0 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ebebeb;

    .text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 160px;
      text-align: right;
      margin-left: 10px;
    }
    .icon {
      &::before {
      }
    }

    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .programsDropdown {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    width: 224px;
    bottom: 25px;
    .oneProgram {
      border-bottom: 1px solid #ebebeb;
      display: flex;
      height: 30px;
      font-size: 14px;

      &:hover {
        background-color: cornflowerblue;
        font-weight: bold;
      }
      &:last-child {
        border-bottom: none;
      }
      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;
      }

      .checkbox {
        display: flex;
        align-items: center;
        margin: 0 5px;

        .icon {
          font-size: 14px;
          cursor: pointer;

          &:before {
            color: #6b7a84;
          }

          &.icon-icon-check {
            &:before {
              color: #5bab50;
            }
          }

          &.icon-icon-checkbox {
            &:before {
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
.container{
  max-height: 35%;
  display: flex;
  overflow: auto;
  margin-left: 1%;

}
.usersPanel{
  max-height: 30%;
  overflow:auto;

}
.addUserContainer{
  width: 40%;
  height: 40%;
  box-shadow: 5px 5px rgba(96,130,173,0.15);
  background-color: rgba(255,255,255,0.7);
  margin: 0 5% 0 5%;
}
.addUser {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 30px;
  .router_link {
    color: black;
    margin: 2%;
  }
}
.inputConatiner{
  // height: 75%;
  display: grid;
  justify-content: center;
  input{
    width: 70%;
    text-align: center;

  }
}
select{
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}


.signUpButton{
  background-color: lightgreen;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px 25% 15px 25%;
  padding: 5px;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }

}

.signUpRow{
  display: flex;
}

.signUpRowComp{
  width: 50%;
  display: block;
  input{

  }
}
</style>
