<template>
  <div class="container">
    <div class="responsive-table">
      <li class="table-header">
        <div class="col col-1">שם משתמשת</div>
        <div class="col col-2">סוג משתמשת</div>
        <div class="col col-4">פעולות</div>
      </li>
      <li class="table-row"  v-for="k in all_keys" v-bind:key="k.id">
        <div class="col col-1" data-label="שם משתמשת">{{k.id}}</div>
        <div class="col col-2" data-label="סוג משתמשת" v-if="k.edit_mode == false">{{user_types[k.type].display}}</div>
        <div class="col col-2" data-label="סוג משתמשת" v-else>
          <select v-model="user_type">
            <option v-for="type in user_types" v-bind:key="type.display">{{type.display}}</option>
          </select>
          <Dropdown v-bind:programs="all_programs" v-bind:chosen_programs="chosen_user_programs"></Dropdown>
          <div class="program_button" v-on:click="saveNewUserType(k.id, user_type); k.type=hebToType(user_type); k.edit_mode = !k.edit_mode">שמירה</div>
        </div>
        <div class="col col-4" data-label="פעולות">
          <div class="icon delete icon-icon-pencil" v-on:click="k.edit_mode = !k.edit_mode, changePrograms(k)"></div>
          <div class="icon delete icon-icon-delete" v-on:click="delete_user_wrapper(k.id)"></div>
        </div>
      </li>
    </div>
    <div class="errorPopUpContainer" v-if="errorPopUpData.isOpen">
      <ErrorPopUp v-bind:errorPopUpData="errorPopUpData"></ErrorPopUp>
    </div>
  </div>

</template>

<script>
import ErrorPopUp from '../popUps/ErrorPopUp'
import {get_all_users, delete_user_name, set_user_type} from '../../firesbaseService/users_queries.js'
import {INVALID_NAME_ALERT} from '../../consts.js'
import {get_all_programs,add_programs_to_user} from '../../firesbaseService/programs_queries'
import Dropdown from '../Dropdown';
export default {
  name: 'UsersDisplay',
  components:{
    Dropdown,
    ErrorPopUp
  },
  data() {
    return {
      user_type: "",
      change_type: false,
      errorPopUpData: {},
      user_types: {
        "admin": {display: "מנהלת ראשית", type: "admin"},
        "manager": {display: "רכזת", type: "manager"},
        "instructor": {display: "מדריכה", type: "instructor"},
      },
      all_keys: [],
      all_programs: {},
      chosen_user_programs: {},
    }
  },
  methods: {
    changePrograms: function(user){
      this.user_type = this.user_types[user.type].display;
      for(let program in user.programs){
        this.all_programs[program].selected = true;
        this.chosen_user_programs[program] = {name: program};
      }
    },
    hebToType: function(heb) {
      for (let k in this.user_types){
        if (this.user_types[k].display == heb){
          return this.user_types[k].type;
        }
      }
    },
    saveNewUserType: async function(u_name, u_type) {
      for (let k in this.user_types){
        if (this.user_types[k].display == u_type){
          u_type = this.user_types[k].type;
        }
      }
      await set_user_type(u_name, u_type);
      let self = this;
      await add_programs_to_user(u_name,this.chosen_user_programs).then(() => {
        self.chosen_user_programs = {};
        for(let program in self.all_programs){
          self.all_programs[program].selected = false;
        }
      });
    },
    delete_user_wrapper: async function(id) {
      this.errorPopUpData = {
            isOpen: true,
            popUpTitle: "אזהרה",
            message: "האם להסיר את: " + id,
            approveButtonText: "אישור",
            cancelButtonText: "ביטול",
            showCancelButton: true,
            showApproveButton: true,
          }
          let myComp = this;
          this.errorPopUpData.callBackFunction = async function(){
            if(!myComp.errorPopUpData.approveSelected){return;}
            let self = myComp;
            await delete_user_name(id).then( () => {
              self.errorPopUpData = {
                isOpen: true,
                popUpTitle: "הידד",
                message: id + " הוסרה בהצלחה",
                showCancelButton: false,
                showApproveButton: false,
                timerOn: true,
              }
              self.errorPopUpData.callBackFunction = function(){
                  location.reload();
                }
              })

            };
          
      
    },
  },
  async beforeCreate() {
    this.all_keys = await get_all_users();
    let programs = await get_all_programs();
    programs.forEach(program => {
      if(program.active){
        this.all_programs[program.name] = { 
          name: program.name,
          selected: false,
        }
      }
    });
  },
}
</script>

<style lang="scss">
.table_header{
  text-align: right;
  direction: rtl;
}


.program_button {
  background-color: #f4511e;
  border: none;
  color: white;
  padding: 4px 6px;
  text-align: center;
  font-size: 13px;
  margin: 0px 0px;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.program_button:hover {opacity: 1}

body {
  font-family: 'lato', sans-serif;
}
.container {
  direction: rtl;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  overflow: auto;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}


.responsive-table {
  margin-inline-start: 40px;
  box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
  background-color: rgba(255, 255, 255, 0.7);
  li {
    border-radius: 3px;
    padding: 25px 65px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .table-header {
    background-color: #eaf1fe;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 33%;
  }
  .col-2 {
    flex-basis: 33%;
  }

  .col-4 {
    flex-basis: 33%;
    display: inline-block;
  }
  .icon{
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    transition: 0.4s;
  }
  .icon:hover{
    color: black;
    border-radius:100%
  }
  .icon.inactive{
    border-color: lightgreen;
    color: lightgreen;
  }
  .icon.inactive:hover{
    color: black;
  }

  .icon.edit{
    border-color: lightblue;
  }

  .icon.delete{
    border-color: red;
    color: red;
  }
  .icon.delete:hover{
    color: black;
  }
  .icon.active{
    border-color: red;
    color: red;
  }
  .icon.active:hover{
    color: black;
  }

  .activeText{
    color: green;
    font-weight: bold;
  }

  .inactiveText{
    color: red;
    font-weight: bold;
  }
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }

    li {
      display: block;
    }
    .col {

      flex-basis: 100%;

    }

    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}
</style>
