<template>
  <div class="queries">
    <div class="SearchQueriesContainer">
      <SearchQueries v-bind:wantedFiles="wantedFiles"></SearchQueries>
    </div>
    <div class="fileDisplayContainer" v-if="wantedFiles.length>0">
      <FilesDisplay v-for="file in wantedFiles" v-bind:file="file" v-bind:key="file.mother_id"></FilesDisplay>
    </div>
  </div>
</template>

<script>
import {get_all_docs_from_collection} from "../../firesbaseService/files_queries";
import SearchQueries from './SearchQueries'
import FilesDisplay from '../Files/FilesDisplay'
export default {
  name: "Queries",
  components:{
    SearchQueries,
    FilesDisplay
  },
  data() {
    return {
    };
  },
  methods: {
    
  },
  computed: {
    wantedFiles: function(){
      return this.$store.getters.getWantedFiles;
    }

  }
};
</script>

<style lang="scss" scoped>
.queries {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  direction: rtl;
  height: 85%;
  .fileDisplayContainer{
    margin-top: 5px;
    max-height: 72%;
    overflow: auto;
  }
  .searchParams {
    height: auto;
    width: 14%;
    margin-right: 4%;
    margin-top: 2%;
    display: block;
    position: relative;
    border: 2px outset black;
    display: inline-block;
    input{
      width: 80%;
    }
  }
  .checkboxes{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    direction: rtl;
  }
}
#searchBtn{
      width: 10%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 330px;
    border: 1px solid black;
    background-color: darkturquoise;
}
</style>
