<template>
    <div class="searchQueries">
        <div class="mainContainer">
            <div class="box">
                <div class="buttonContainer">
                    <div class="search" v-if="search" v-on:click="stillSearching = true, search = false, searchQuery()">
                        חיפוש
                    </div>
                    <div class="edit" v-else v-on:click="search = true">עריכה</div>
                </div>
                <div class="filterContainer" v-if="search">
                    <div class="oneRow">
                        <div class="filterBy">
                            <div class="checkbox" v-on:click="checkBoxAction(filter.filterByJoinDate)">
                                <div class="icon icon-icon-checkbox" v-if="!filter.filterByJoinDate.selected"></div>
                                <div class="icon icon-icon-check" v-if="filter.filterByJoinDate.selected"></div>
                            </div>
                            <div class="text" v-on:click="checkBoxAction(filter.filterByJoinDate)">תאריך הצטרפות:</div>
                            <div class="datePicker" v-bind:class="{notActive: !filter.filterByJoinDate.selected}">
                                <date-range-picker v-model="filter.filterByJoinDate.dateRange"
                                    v-if="filter.filterByJoinDate.selected"></date-range-picker>
                            </div>
                        </div>
                        <div class="filterBy">
                            <div class="checkbox" v-on:click="checkBoxAction(filter.filterByRefName)">
                                <div class="icon icon-icon-checkbox" v-if="!filter.filterByRefName.selected"></div>
                                <div class="icon icon-icon-check" v-if="filter.filterByRefName.selected"></div>
                            </div>
                            <div class="text" v-on:click="checkBoxAction(filter.filterByRefName)">גורם מפנה:</div>
                            <select v-model="filter.filterByRefName.value"
                                    v-bind:class="{notActive: !filter.filterByRefName.selected}">
                                <option v-for="ref in refNames" v-bind:key="ref.name">{{ref.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="oneRow">
                        <div class="filterBy">
                            <div class="checkbox" v-on:click="checkBoxAction(filter.filterByChildBDate)">
                                <div class="icon icon-icon-checkbox" v-if="!filter.filterByChildBDate.selected"></div>
                                <div class="icon icon-icon-check" v-if="filter.filterByChildBDate.selected"></div>
                            </div>
                            <div class="text" v-on:click="checkBoxAction(filter.filterByChildBDate)">תאריך לידה של הילד:</div>
                            <div class="datePicker" v-bind:class="{notActive: !filter.filterByChildBDate.selected}">
                                <date-range-picker v-model="filter.filterByChildBDate.dateRange"
                                                   v-if="filter.filterByChildBDate.selected"></date-range-picker>
                            </div>
                        </div>
                        <div class="filterBy">
                            <div class="checkbox" v-on:click="checkBoxAction(filter.filterByChildrenNumber)">
                                <div class="icon icon-icon-checkbox"
                                     v-if="!filter.filterByChildrenNumber.selected"></div>
                                <div class="icon icon-icon-check" v-if="filter.filterByChildrenNumber.selected"></div>
                            </div>
                            <div class="text" v-on:click="checkBoxAction(filter.filterByChildrenNumber)">כמות ילדים:</div>
                            <input type="number" min="0" v-model="filter.filterByChildrenNumber.value"
                                   v-bind:class="{notActive: !filter.filterByChildrenNumber.selected}">
                        </div>
                    </div>

                    <div class="oneRow">
                        <div class="filterBy">
                            <div class="checkbox" v-on:click="checkBoxAction(filter.filterByYear)">
                                <div class="icon icon-icon-checkbox" v-if="!filter.filterByYear.selected"></div>
                                <div class="icon icon-icon-check" v-if="filter.filterByYear.selected"></div>
                            </div>
                            <div class="text" v-on:click="checkBoxAction(filter.filterByYear)">שנת לידה:</div>
                            <input type="number" v-model="filter.filterByYear.value"
                                   v-bind:class="{notActive: !filter.filterByYear.selected}">
                        </div>
                    </div>

                </div>
            </div>
            <div class="msg" v-if="stillSearching">מחפש כעת...</div>
            <div class="msg" v-if="!search && !stillSearching">{{counterText}}</div>
        </div>
    </div>
</template>

<script>
    import {get_all_docs_from_collection} from "../../firesbaseService/files_queries";
    import DateRangePicker from "vue2-daterange-picker";
    //you need to import the CSS manually (in case you want to override it)
    import "vue2-daterange-picker/dist/lib/vue-daterange-picker.min.css";
    import {get_all_refs} from "../../firesbaseService/ref_logs_queries";

    export default {
        name: "SearchQueries",
        components: {
            DateRangePicker
        },
        async created() {
            this.refNames = await get_all_refs();
            let date = new Date();
            let day = date.getDate();
            if (day < 10) {
                day = "0" + day.toString();
            }
            let month = date.getMonth() + 1;
            if (month < 10) {
                month = "0" + month.toString();
            }
            this.filter.filterByJoinDate.value = date.getFullYear().toString() + '-' + month + '-' + day;
        },
        props: {
            wantedFiles: Array,
            // hasResults: Boolean,
        },
        data() {
            return {
                stillSearching: false,
                locale: {
                    direction: 'ltr', //direction of text
                    format: 'DD/MM/YYYY',
                },
                refNames: [],
                search: true,
                allFiles: [],
                filter: {
                    filterByJoinDate: {
                        selected: false,
                        dateRange: { // used for v-model prop
                            startDate: Date.now(),
                            endDate: Date.now(),
                        },
                    },
                    filterByRefName: {
                        selected: false,
                        value: ""
                    },
                    filterByChildBDate: {
                        selected: false,
                        dateRange: { // used for v-model prop
                            startDate: Date.now(),
                            endDate: Date.now(),
                        },
                    },
                    filterByChildrenNumber: {
                        selected: false,
                        value: ""
                    },
                    filterByYear: {
                        selected: false,
                        value: ""
                    },

                },
                fileCounter: 0,
                counterText: ''


            };
        },
        destroyed() {
            this.$store.commit('deleteAllWantedFiles');
        },
        methods: {
            checkBoxAction: function (oneFilter) {
                oneFilter.selected = !oneFilter.selected;
            },
            getMonth: function (month) {
                let convertedMonth = "";
                switch (month) {
                    case "Jan":
                        convertedMonth = "01";
                        break;
                    case "Feb":
                        convertedMonth = "02";
                        break;
                    case "Mar":
                        convertedMonth = "03";
                        break;
                    case "Apr":
                        convertedMonth = "04";
                        break;
                    case "May":
                        convertedMonth = "05";
                        break;
                    case "Jun":
                        convertedMonth = "06";
                        break;
                    case "Jul":
                        convertedMonth = "07";
                        break;
                    case "Aug":
                        convertedMonth = "08";
                        break;
                    case "Sep":
                        convertedMonth = "09";
                        break;
                    case "Oct":
                        convertedMonth = "10";
                        break;
                    case "Nov":
                        convertedMonth = "11";
                        break;
                    case "Dec":
                        convertedMonth = "12";
                        break;
                    default:
                        console.log("default");
                }
                return convertedMonth;
            },
            convertDate: function (date) {
                let splitDate = date.split(' ');
                let year = splitDate[3];
                let day = splitDate[2];
                let month = splitDate[1];
                let convertedMonth = this.getMonth(month);
                let convertedDate = year + "-" + convertedMonth + "-" + day;
                return convertedDate;
            },
            searchQuery: async function () {
                this.$store.commit('deleteAllWantedFiles');
                this.allFiles = this.$store.getters.getAllFiles;
                if (this.allFiles[0] == undefined) {
                    this.allFiles = await get_all_docs_from_collection("files");
                    this.$store.commit('setAllFiles', this.allFiles);
                }
                let self = this;
                this.fileCounter = 0;
                var iWantThisFile = true;
                self.allFiles.forEach(file => {
                    if (self.filter.filterByRefName.selected) {
                        if (file.ref != self.filter.filterByRefName.value) {
                            console.log("ref", file.ref);
                            iWantThisFile = false;
                        }
                    }
                    if (self.filter.filterByJoinDate.selected) {

                        let startDate = this.convertDate(self.filter.filterByJoinDate.dateRange.startDate.toString());
                        let endDate = this.convertDate(self.filter.filterByJoinDate.dateRange.endDate.toString());
                        if ((file.signup_date < startDate) || (file.signup_date > endDate)) {
                            iWantThisFile = false;
                        }
                    }
                    var howManyChildren = 0;
                    for (let child in file.children) {
                        howManyChildren++;
                        if (self.filter.filterByChildBDate.selected) {
                            let startDate = this.convertDate(self.filter.filterByChildBDate.dateRange.startDate.toString());
                            let endDate = this.convertDate(self.filter.filterByChildBDate.dateRange.endDate.toString());
                            let birthDate = file.children[child].birth_date;
                            if ((birthDate < startDate) || (birthDate > endDate)) {
                                iWantThisFile = false;
                            }
                        }
                        if (self.filter.filterByYear.selected) {
                            let year = new Date(file.children[child].birth_date).getFullYear();
                            if (year != self.filter.filterByYear.value) {
                                iWantThisFile = false;
                            }
                        }
                    }
                    if (self.filter.filterByChildrenNumber.selected) {
                        if (howManyChildren != self.filter.filterByChildrenNumber.value) {
                            iWantThisFile = false;
                        }
                    }
                    if (iWantThisFile) {
                        self.$store.commit('addFile', file);
                        this.fileCounter++;
                    } else {
                        iWantThisFile = true;
                    }
                });
                this.stillSearching = false;
                if (this.fileCounter > 1) {
                    this.counterText = 'נמצאו ' + this.fileCounter + ' תיקים'
                } else {
                    this.counterText = (this.fileCounter === 0) ? 'לא נמצאו תיקים' : 'נמצא תיק אחד';
                }
            },

        }
    };
</script>

<style lang="scss" scoped>
    .searchQueries {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        direction: rtl;
        height: 85%;
        margin-top: 5px;
        display: flex;
        justify-content: center;

        .mainContainer {
            .box {
                box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
                box-sizing: border-box;
            }

            width: 70%;
            margin-top: 15px;

            .buttonContainer {
                background: #ebebeb;
                display: flex;
                justify-content: flex-end;
                padding: 5px 10px;
                margin-bottom: 1.5px;

                .search,
                .edit {
                    background: chocolate;
                    border-radius: 10%;
                    width: 100px;
                    cursor: pointer;
                }
            }

            .filterContainer {
                background: #ebebeb;

                .oneRow {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;

                    .filterBy {
                        width: 50%;
                        margin: 10px 0;
                        display: flex;
                        justify-content: center;
                        height: 30px;

                        .notActive {
                            pointer-events: none;
                            background-color: #f3f3f3;
                        }

                        .datePicker {


                            &.notActive {
                                pointer-events: none;
                                width: 208px;
                            }

                        }

                        select {
                            width: 208px;
                            margin-top: 2px;
                            background-color: white;
                            color: black;
                            cursor: pointer;

                            &.notActive {
                                pointer-events: none;
                                background-color: #f3f3f3;
                            }
                        }

                        .checkbox {
                            display: flex;
                            align-items: center;
                            margin: 0 5px;

                            .icon {
                                font-size: 14px;
                                cursor: pointer;

                                &:before {
                                    color: #6b7a84;
                                }

                                &.icon-icon-check {
                                    &:before {
                                        background-color: #ffffff;
                                        color: #5bab50;
                                    }
                                }

                                &.icon-icon-checkbox {
                                    &:before {
                                        background-color: #ffffff;
                                    }
                                }
                            }
                        }

                        .text {
                            display: flex;
                            align-items: center;
                            margin-left: 5px;
                            width: 140px;
                            cursor: pointer;
                        }

                        input {
                            width: 208px;
                            background: #fff;
                            height: 30px;
                            margin: 0;

                            &.notActive {
                                pointer-events: none;
                                background-color: #f3f3f3;
                            }
                        }
                    }
                }

            }

            .msg {
                margin-top: 10px;
                font-weight: bold;
                font-size: 14px;
            }

        }
    }
</style>