@font-face {
  font-family: 'magar';
  src:  url('fonts/magar.eot?4c9gkm');
  src:  url('fonts/magar.eot?4c9gkm#iefix') format('embedded-opentype'),
    url('fonts/magar.ttf?4c9gkm') format('truetype'),
    url('fonts/magar.woff?4c9gkm') format('woff'),
    url('fonts/magar.svg?4c9gkm#magar') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'magar' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-invoice:before {
  content: "\21";
}
.icon-icon-bookkeeping:before {
  content: "\22";
}
.icon-icon-contractor:before {
  content: "\23";
}
.icon-icon-produce:before {
  content: "\24";
}
.icon-icon-forms:before {
  content: "\25";
}
.icon-icon-settings:before {
  content: "\26";
}
.icon-icon-half-checkbox:before {
  content: "\28";
}
.icon-icon-list:before {
  content: "\29";
}
.icon-icon-pdf:before {
  content: "\2a";
}
.icon-icon-xlsx:before {
  content: "\2b";
}
.icon-icon-doc:before {
  content: "\2c";
}
.icon-icon-pptx:before {
  content: "\2d";
}
.icon-icon-refresh:before {
  content: "\2e";
}
.icon-icon-addfiles:before {
  content: "\2f";
}
.icon-icon-attached:before {
  content: "\30";
}
.icon-icon-folder:before {
  content: "\31";
}
.icon-icon-mail:before {
  content: "\32";
}
.icon-icon-sort:before {
  content: "\33";
}
.icon-icon-plan:before {
  content: "\34";
}
.icon-icon-images:before {
  content: "\35";
}
.icon-icon-contract:before {
  content: "\36";
}
.icon-icon-calendar:before {
  content: "\37";
}
.icon-icon-sort1:before {
  content: "\38";
}
.icon-icon-payment:before {
  content: "\39";
}
.icon-icon-history:before {
  content: "\41";
}
.icon-icon-bakara:before {
  content: "\42";
}
.icon-icon-box:before {
  content: "\43";
}
.icon-icon-buildings:before {
  content: "\44";
}
.icon-icon-excel:before {
  content: "\45";
}
.icon-icon-filters-arrow:before {
  content: "\46";
}
.icon-icon-home:before {
  content: "\47";
}
.icon-icon-item:before {
  content: "\48";
}
.icon-icon-kablan:before {
  content: "\49";
}
.icon-icon-location:before {
  content: "\4a";
}
.icon-icon-looz:before {
  content: "\4b";
}
.icon-icon-pencil:before {
  content: "\4c";
}
.icon-icon-pie:before {
  content: "\4d";
}
.icon-icon-print:before {
  content: "\4e";
}
.icon-icon-user:before {
  content: "\4f";
}
.icon-icon-arrow-dropdown:before {
  content: "\50";
}
.icon-icon-paid:before {
  content: "\52";
}
.icon-icon-prices:before {
  content: "\53";
}
.icon-icon-import-template:before {
  content: "\54";
}
.icon-icon-close:before {
  content: "\55";
}
.icon-icon-menu:before {
  content: "\56";
}
.icon-icon-not-to-summary:before {
  content: "\57";
}
.icon-icon-additional-budget:before {
  content: "\58";
}
.icon-icon-delete:before {
  content: "\59";
}
.icon-icon-save:before {
  content: "\5a";
}
.icon-icon-dropdown-arrow-shadowed:before {
  content: "\5b";
}
.icon-icon-phone:before {
  content: "\5c";
}
.icon-icon-back:before {
  content: "\5d";
}
.icon-icon-contractor-history:before {
  content: "\5e";
}
.icon-icon-contractor-double:before {
  content: "\5f";
}
.icon-icon-unlock:before {
  content: "\60";
}
.icon-icon-plus:before {
  content: "\61";
}
.icon-icon-bill:before {
  content: "\62";
}
.icon-icon-eye-unactive:before {
  content: "\63";
}
.icon-icon-triangle-warning:before {
  content: "\64";
}
.icon-icon-eye:before {
  content: "\65";
}
.icon-icon-arrow-import:before {
  content: "\66";
}
.icon-icon-calculator:before {
  content: "\67";
}
.icon-icon-checkbox:before {
  content: "\68";
}
.icon-icon-check:before {
  content: "\69";
}
.icon-icon-resources:before {
  content: "\6a";
}
.icon-icon-circle-warning:before {
  content: "\6b";
}
.icon-icon-star:before {
  content: "\6c";
}
.icon-icon-modules:before {
  content: "\6d";
}
.icon-icon-revision:before {
  content: "\6e";
}
.icon-icon-circle-check:before {
  content: "\6f";
}
.icon-icon-arrow-back:before {
  content: "\70";
}
.icon-icon-success:before {
  content: "\71";
}
.icon-icon-process:before {
  content: "\72";
}
.icon-icon-users:before {
  content: "\73";
}
.icon-icon-active-users:before {
  content: "\74";
}
.icon-icon-inner-check:before {
  content: "\75";
}
.icon-icon-magnifying-glass:before {
  content: "\76";
}
.icon-icon-lock:before {
  content: "\77";
}
.icon-icon-coins:before {
  content: "\78";
}
.icon-icon-integrated:before {
  content: "\79";
}
.icon-icon-info:before {
  content: "\7a";
}
.icon-icon-filter:before {
  content: "\e900";
}
.icon-icon-menu-contract:before {
  content: "\e901";
}
.icon-icon-menu-sapakim:before {
  content: "\e902";
}
.icon-icon-menu-drishot:before {
  content: "\e903";
}
.icon-icon-order:before {
  content: "\e904";
}
.icon-icon-notes:before {
  content: "\e905";
}
.icon-icon-stage:before {
  content: "\e906";
}
.icon-icon-device:before {
  content: "\e907";
}
.icon-icon-mobile:before {
  content: "\e908";
}
.icon-icon-comment:before {
  content: "\e909";
}
.icon-icon-matrix:before {
  content: "\e90a";
}
.icon-icon-user-list:before {
  content: "\e90b";
}
.icon-icon-half-inner-check:before {
  content: "\e90c";
}
.icon-icon-radio:before {
  content: "\e90d";
}
.icon-icon-radio-checked:before {
  content: "\e90e";
}
.icon-icon-cancel-file:before {
  content: "\e90f";
}
.icon-icon-download:before {
  content: "\e910";
}
.icon-icon-doc-approved:before {
  content: "\e911";
}
.icon-icon-doc-edit:before {
  content: "\e912";
}
.icon-icon-docs:before {
  content: "\e913";
}
.icon-icon-minimise:before {
  content: "\e914";
}
.icon-icon-logout:before {
  content: "\e915";
}
.icon-icon-none-user:before {
  content: "\e916";
}

