<template>
  <div class="programTag" >
    <div
      class="program"
      v-on:click="programsDropDownIsOpen = !programsDropDownIsOpen"
      v-bind:class="{active: programsDropDownIsOpen}"
    >
      <div class="text" v-if="!programsDropDownIsOpen">בחירה</div>
      <div class="text textClose" v-else>סגירה</div>
      <div class="icon icon-icon-arrow-dropdown"></div>
    </div>
    <div class="programsDropdown" v-if="programsDropDownIsOpen">
      <div
        class="oneProgram"
        v-for="program in myPrograms"
        v-bind:key="program.name"
        v-on:click="checkBoxAction(program)"
      >
        <div class="checkbox">
          <div class="icon icon-icon-checkbox" v-if="!program.selected"></div>
          <div class="icon icon-icon-check" v-if="program.selected"></div>
        </div>
        <div class="name">{{program.name}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import "../style/style.css";
import * as firebase from "firebase";
import * as programs_queries from "../firesbaseService/programs_queries";

export default {
  name: "Dropdown",
  components: {},
  props: {
    programs: {
      type: Object,
      required: true
    },
    chosen_programs: Object,
  },
  data() {
    return {
      programsDropDownIsOpen: false,
      myPrograms: [],
    };
  },
  async created() {
    for(let program in this.programs){
      this.myPrograms.push({
        name: this.programs[program].name,
        selected: this.programs[program].selected,
        log: this.programs[program].log
      })
    }

  },
  computed: {
  },
  methods: {
    checkBoxAction: function(program) {
      program.selected = !program.selected;
      if (program.selected) {
        let tempLog = [];
        if(this.chosen_programs[program.name] != undefined){
          tempLog = this.chosen_programs[program.name].log;
        }
        this.chosen_programs[program.name] = {
          name: program.name,
          selected: true,
          log: tempLog,
        }
      } else {
        this.chosen_programs[program.name].selected = false;
      
    }
  },
}
}
</script>

<style lang="scss" scoped>
.programTag {
  position: relative;
  cursor: pointer;
  display: inline-block;

  .text {
  }
.textClose{
  color: red;
}
  .program {
    background-color: #ffffff;
    width: 200px;
    height: 30px;
    display: flex;
    padding: 0 5px;
    align-items: center;
    border: 1px solid #ebebeb;

    .text {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 160px;
      text-align: right;
      margin-left: 10px;
    }
    .icon {
      &::before {
      }
    }

    &.active {
      .icon {
        transform: rotate(180deg);
      }
    }
  }

  .programsDropdown {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    width: 200px;
    height: 160px;
    overflow: auto;

    .oneProgram {
      border-bottom: 1px solid #ebebeb;
      display: flex;
      height: 30px;
      font-size: 14px;

      &:hover {
        background-color: cornflowerblue;
        font-weight: bold;
      }
      &:last-child {
        border-bottom: none;
      }
      .name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: flex;
        align-items: center;
      }

      .checkbox {
        display: flex;
        align-items: center;
        margin: 0 5px;

        .icon {
          font-size: 14px;
          cursor: pointer;

          &:before {
            color: #6b7a84;
          }

          &.icon-icon-check {
            &:before {
              background-color: #ffffff;
              color: #5bab50;
            }
          }

          &.icon-icon-checkbox {
            &:before {
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
}
</style>
