<template>
    <div class="all">
        <div class="welcome">
            <div class="userName"><span class="icon icon-icon-none-user"></span> {{userName}}</div>
            <div class="signOutContainer signOut" v-if="loggedIn">
                <!--<div class="icon icon-icon-logout" title="התנתק"></div>-->
                <eva-icon class="icon signOut" title="התנתקי" v-on:click="signMeOut" name="log-out" fill="white" animation="flip"></eva-icon>
            </div>
        </div>
        <div class="navContainer navColor pullUp">
            <div class="navTags">
                <div class="router_tag">
                    <router-link class="link" to="/files">תיקים</router-link>
                </div>
                <div class="router_tag">
                    <router-link class="link" to="/queries">שאילתות</router-link>
                </div>
                <div class="router_tag">
                    <router-link class="link" to="/referrals">יומן הפניות</router-link>
                </div>
                <div class="router_tag">
                    <router-link class="link" to="/admin" v-if="userType" >פאנל מנהל</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import "../style/style.css";
    import * as firebase from "firebase";
    import * as users from "../firesbaseService/users_queries";

    export default {
        name: "NavBar",
        data() {
            return {
                userSignedIn: true,
                hasAuth: false,
            };
        },
        methods: {
            updateStoreWithUser: async function () {
                let store = this.$store;
                await firebase.auth().onAuthStateChanged(async function (user) {
                    let type = "";
                    if (user) {
                        type = await users.get_user_type(user.displayName);
                    }
                    await store.commit("set_user_type", type);
                });
                await store.commit("setLogIn");
                await store.commit("set_user_mail");
                await store.commit("set_user_name");
            },
            signMeOut: async function () {
                var self = this;
                await firebase
                    .auth()
                    .signOut()
                    .then(
                        async function () {
                            await self.updateStoreWithUser();
                            self.$router.push({path: "/"});
                        },
                        function () {
                        }
                    );
            }
        },
        created: async function () {
            await this.updateStoreWithUser();
        },
        computed: {
          userType: function () {
            return this.$store.getters.user_type == "admin";
          },
            loggedIn: function () {
                return this.$store.getters.isLoggedIn;
            },
            userName: function () {
                return this.$store.getters.user_name;
            }
        }
    };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    @import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

    .navBar {

        height: 15%;
        width: 100%;
        display: flex;

        .signOutContainer {
            margin-right: 130px;
            color: white;


        }

        .routerLinks {
            -ms-flex-pack: distribute;
            justify-content: space-around;
            display: flex;
            -webkit-box-align: end;
            align-items: flex-end;
            width: 70%;
            height: 100%;

            .router_tag {
                color: #FFF;
                text-decoration: none;
                margin: 0px 10px;
                padding: 10px 10px;
                position: relative;
                z-index: 0;
                cursor: pointer;
            }
        }

        .link {
            color: #FFF;
            text-decoration: none;
            font-family: 'Assistant', sans-serif;
            margin: 0px 10px;
            padding: 10px 10px;
            position: relative;
            z-index: 0;
            cursor: pointer;
        }


    }

    .logoContainer {
        width: 30%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        -webkit-box-pack: right;
        -ms-flex-pack: center;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/magar-48c65.appspot.com/o/magar_logo.png?alt=media&token=5b3d6694-8f4a-4fc6-990c-7132bf6444be");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        background-blend-mode: contentType;
        opacity: 0.8;
        float: right;
    }

    .ic {
        &:before {
            color: #000000;
        }

        padding-left: 100px;
    }

    div.navContainer {
        width: 100%;
        margin: 0 auto;
        padding: 2% 0% 2% 0%;
        text-align: center;
        box-shadow: 1px 7px lightblue;
    }

    .signOut {
        color: white;
        cursor: pointer;

        .icon {
            cursor: pointer;
            &:before{

            }
        }
        &:hover{
            .icon {
                &:before{
                    font-size: 20px;
                    color: black;
                }
            }
        }
    }

    div.navContainer a {
        color: #FFF;
        text-decoration: none;
        margin: 0px 10px;
        padding: 10px 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;
    }

    .navColor {
        background: #4a5168;
    }

    /* Pull up  */
    div.pullUp a:before {
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0px;
        bottom: 0px;
        content: '';
        background: #FFF;
        opacity: 0.3;
        transition: all 0.3s;
    }

    .navTags {
        display: -webkit-inline-box;
    }

    .welcome {
        float: left;
        color: white;
        margin-left: 5px;
        margin-top: 5px;
        .userName{
            display: flex;
            align-items: center;
            .icon{
                margin-left: 5px;
                &:before{
                    font-size: 25px;
                }
            }
        }
    }

    div.pullUp a:hover:before {
        height: 100%;
    }

</style>
