<template>
  <div class="referralsFormContainerWrapper">
    <div class="accessCodeContainer">
      <div v-if="validated == false">קוד גישה:<br>
        <input v-on:keyup.enter="validate_code()" v-model="access_code" type="number">
        <div class="showLogButton" v-on:click="validate_code()">הצגת טופס</div>
        <div class="accessCodeWarning" v-if="acc_warning == true">קוד לא תקין</div>
      </div>
    </div>
    <div class="header top">טופס הפנייה למרכז לגיל הרך (מג"ר)</div>
    <div class="referralsFormContainer" v-if="validated == true">
      <div class="refDetailsContainer">
        <div class="refMomContainer">
          <div class="header" >גורם מפנה</div>
          <div class="refResult">
            <div class="refDetails">תאריך</div>
            <input v-model="ref_atts['signup_date'].value" type="date">
          </div>
          <div class="refResult">
            <div class="refDetails">שם הגורם</div>
            <input v-model="ref_atts['ref_name'].value" :readonly="true">
          </div>
          <div class="refResult">
            <div class="refDetails">שם ממלא\ת הטופס</div>
            <input v-model="ref_atts['employee_name'].value" v-bind:class="{error: saveCancel}">
          </div>
        </div>
        <div class="refMomContainer">
          <div class="header" >פרטי אמא</div>
          <div class="refResult">
            <div class="refDetails">תעודת זהות</div>
            <input v-model="ref_atts['mother_id'].value" type="number" maxlength="3" v-bind:class="{error: saveCancel && (file.mother_id == '' || file.mother_id.length < 6 || file.mother_id.length > 9)}">
          </div>
          <div class="refResult">
            <div class="refDetails">שם פרטי</div>
            <input v-model="ref_atts['mother_name'].value" v-bind:class="{error: saveCancel}">
          </div>
          <div class="refResult">
            <div class="refDetails">שם משפחה</div>
            <input v-model="ref_atts['mother_last_name'].value" v-bind:class="{error: saveCancel}">
          </div>
          <div class="refResult">
            <div class="refDetails">כתובת</div>
            <input v-model="ref_atts['address'].value">
          </div>
          <div class="refResult">
            <div class="refDetails">טלפון</div>
            <input v-model="ref_atts['mother_phone'].value" type="number">
          </div>
          <div class="refResult">
            <div class="refDetails">תאריך לידה</div>
            <input v-model="ref_atts['mother_bdate'].value" type="date">
          </div>
          <div class="refResult">
            <div class="refDetails">דואר אלקטרוני</div>
            <input v-model="ref_atts['mail'].value" type="email">
          </div>
        </div>
        <br>
        <div class="refMomContainer">
          <div class="header">פרטי ילד</div>
          <div class="refResult">
            <div class="refDetails">תעודת זהות</div>
            <input v-model="ref_atts['child_id'].value" type="number" maxlength="3" v-bind:class="{error: saveCancel && (file.mother_id == '' || file.mother_id.length < 6 || file.mother_id.length > 9)}">
          </div>
          <div class="refResult">
            <div class="refDetails">שם</div>
            <input v-model="ref_atts['child_name'].value">
          </div>
          <div class="refResult">
            <div class="refDetails">תוכניות</div>
            <Dropdown v-if="programs_done" :programs="db_programs" :chosen_programs="ref_atts['programs'].value"></Dropdown>
          </div>
          <div class="refResult">
            <div class="refDetails">סיבות הפניה</div>
            <Dropdown :programs="ref_reasons" :chosen_programs="ref_atts['ref_reasons'].value"></Dropdown>
          </div>
        </div>
        <div class="commentsContainer">
          <div class="refDetails">הערות</div>
          <textarea v-model="ref_atts['comments'].value" rows="8" cols="80"></textarea>
        </div>
      </div>
      <div class="showLogButton" v-on:click="scan_form()">שליחה</div>
    </div>
  </div>
</template>
<script>
import {validate_access_code,get_ref_name_from_access_code} from '../firesbaseService/outsourcing_queries.js'
import {add_log_request} from '../firesbaseService/ref_logs_queries.js'
import {get_all_programs} from '../firesbaseService/programs_queries.js'
import Dropdown from './Dropdown'

export default {
  name: 'ReferralsForm',
  components:{
    Dropdown,
  },
  data() {
    return {
      saveCancel: false,
      db_programs: {},
      chosen_programs: {},
      programs_done: false,
      validated: false,
      acc_warning: false,
      ref_atts: {
        "employee_name":{display: "שם ממלא הטופס", value:""},
        "address":{display: "כתובת", value:""},
        "child_id":{display: "ת.ז הילד", value:""},
        "child_name":{display: "שם הילד", value:""},
        "signup_date":{display: "תאריך", value: ""},
        "comments":{display: "הערות", value:""},
        "mother_id":{display: "ת.ז האם", value:""},
        "mother_name":{display: "שם האם", value:""},
        "mother_bdate":{display: "תאריך לידה", value:""},
        "mother_last_name":{display: "שם משפחה", value:""},
        "mother_phone":{display: "טלפון", value:""},
        "mail":{display: "דואר אלקטרוני", value:""},
        "programs":{display: "תוכניות", value: {}},
        "ref_name":{display: "גורם מפנה", value:""},
        "ref_reasons":{display: "סיבות ההפניה", value:{}},
        "ref_id":{display: "", value:""},
        "status":{display: "", value:"pending"},
      },
      access_code: ""
      ,
      ref_reasons: {
        1: {name: "מחסור בידע התפתחותי"},
        2: {name: "קושי במתן העשרה"},
        3: {name: "קושי בצריכת שירותים"},
        4: {name: "קושי התפתחותי"},
        5: {name: "מחסור במקורות תמיכה"},
        6: {name: "בעיות במשפחה"},
        7: {name: "בעיות זוגיות"},
        8: {name: "קושי בהצבת גבולות"},
        9: {name: "בעיות התנהגות"},
        10:{name: "אחר"}
      },
      form_attributes:[
        "תאריך",
        "שם הילד",
        "תז ילד",
        "שם האם",
        "תז האם",
        "מצב משפחתי",
        "כתובת מגורים"
      ],
      name: ""
    }
  },
  methods: {
    scan_form: async function() {
      let log_req = {};
      for (var att in this.ref_atts) {
        log_req[att] = this.ref_atts[att].value;
      }
      console.log(log_req);
      await add_log_request(log_req);
    },
    validate_code: async function() {
      if(!this.access_code){ this.acc_warning = true; return;  }
      this.validated = await validate_access_code(this.access_code);
      if(this.validated == true) {
        this.acc_warning = false;
        this.ref_atts['ref_name'].value = await get_ref_name_from_access_code(this.access_code);
      }
      else { this.acc_warning = true; }
    },
    get_name: async function() {
      return await get_ref_name_from_access_code(this.access_code);
    },
  },
  async created() {
    let date = new Date();
    let day = date.getDate();
    if(day < 10){
      day = "0"+day.toString();
    }
    let month = date.getMonth()+1;
    if(month < 10){
      month = "0"+month.toString();
    }
    this.ref_atts['signup_date'].value = date.getFullYear().toString()+'-'+month+'-'+day;
    let programs = await get_all_programs();
    let self = this;
    programs.forEach(async function(program) {
      if (program.active) {
        self.db_programs[program.name] = {
          name: program.name,
          selected: false
        }
      }
    }); this.programs_done = true;
  },
  mounted() {
    let param_code = this.$route.query.acc_code
    console.log("acc_code:  ",param_code);
    if (param_code){
      this.access_code = param_code
    }
  },
  computed: {

  },
}
</script>

<style lang="scss" scoped>

textarea{
  resize:none;
}
.referralsFormContainerWrapper{
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  background: #fff;
  top: 0;
}

.referralsFormContainer{
  max-height: 87%;
  max-width: 100%;
  margin-top: 5px;
  overflow-y: auto;
  text-align: center;
  overflow-x: hidden;
  select{
    width: 60%;
  }
  &.blurred{
    transition: 0.3s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
  }


  .refDetails{
    width: 50%;
  }
  #headline{
    font-size: -webkit-xxx-large;
    font-style: italic;
    font-weight: 900;
  }
  .refDetailsContainer{
    margin-top: 5px;
    max-height: 100%;
    display: inline-block;
    width: 60%;

    input{
      text-align: center;
      width: 40%;
    }
    .refResult{
      .refDetails{
        display: inline-block;
      }

    }
    .refMomContainer{
      width: 80%;
      height: 100%;
      box-shadow: 5px 5px rgba(96,130,173,0.15);
      background-color: rgba(255,255,255,0.7);
      padding: 2%;
      margin: 2%;
      display: inline-block;
      .momDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}




.childText{
  font-weight: bold;
  font-size: x-large;
  padding-top: 5px;
}




.showLogButton{
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 3%;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

::-webkit-scrollbar {
  width: 6px;
  // padding: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

</style>
