<template>
  <div class="signInContainer">
    <div class="sign_in">
    </div>
    <div class="signInForm">
      <div class="text">ברוכים הבאים למרכז לגיל הרך אשכולות</div>
      <div class="inputConatiner">
        <input
        v-model="user_name"
        placeholder="שם משתמשת"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'שם משתמשת'"
        >
        <input
        v-model="user_password"
        placeholder="סיסמא"
        type="password"
        v-on:keyup.enter="sign_me_in"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'סיסמא'"
        >
      </div>
      <div class="err" v-if="saveCancel">שם משתמשת או סיסמה אינם נכונים!</div>
      <div class="buttonsContainer">
        <div class="formButtonSignin" v-on:click="sign_me_in">התחברי</div><br>
        <div class="formButtonForgot" v-on:click="forgot_password">שכחתי סיסמא</div>
      </div>
    </div>
  </div>
</template>

<script>
import "../style/style.css";
import * as firebase from "firebase";
import * as users_queries from "../firesbaseService/users_queries.js";

export default {
  name: "SignIn",
  data() {
    return {
      user_name: "",
      user_mail: "",
      user_type: "",
      user_password: "",
      saveCancel: false
    };
  },

  methods: {
    updateStoreWithUser: async function() {
      let store = this.$store;
      let type = await users_queries.get_user_type(this.$data.user_name);
      await store.commit("setLogIn");
      await store.commit("set_user_name");
      await store.commit("set_user_mail");
      await store.commit("set_user_type", type);
      await store.commit("set_user_programs");
    },
    forgot_password: async function() {
      let user_mail = await users_queries.get_user_mail(this.user_name);
      console.log(user_mail,this.user_name);
      await firebase
      .auth()
      .sendPasswordResetEmail(user_mail)
      .then(function() {
        alert("אנא בדקו את כתובת המייל שלכם");
      });
    },

    sign_me_in: async function() {
      let user_name = this.$data.user_name;
      let password = this.$data.user_password;
      if (user_name === "" || password === "") {
        this.saveCancel = true;
        return;
      }
      let user_mail = await users_queries.get_user_mail(user_name);
      if (user_mail === "") {
        this.saveCancel = true;
        return;
      }
      var self = this;
      firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION)
      .then(async function() {
        return await firebase.auth().signInWithEmailAndPassword(user_mail, password).then(async function() {
          await users_queries.set_last_seen(user_name);
          await self.updateStoreWithUser();
          self.$router.push("/files");

        })
        .catch(err=>{
          self.saveCancel = true;
        })
      })
      .catch(function(error) {
        // Handle Errors here.
        var errorCode = error.code;
        var errorMessage = error.message;
      });


    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.formButtonSignin{
  display: inline-block;
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 30px;
  padding: 2% 13% 2% 13%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.formButtonForgot{
  display: inline-block;
  background-color: #aa7878;
  color: white;
  text-align: center;
  margin-bottom: 30px;
  padding: 1%;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.sign_in {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/magar-48c65.appspot.com/o/signin.jpg?alt=media&token=620f5083-f0d0-4a14-87d2-c34dd42a0213);
  background-repeat: round;
  background-position: inherit;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  text-align: center;
  .router_link {
    color: black;
    margin: 2%;
  }
}
.signInForm {
  z-index: 4;
  opacity: 1;
  width: 45%;
  height: 60%;
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 25%;
  box-shadow: 0px 0px 10px 20px rgba(207, 47, 47, 0.14);
  background-color: rgba(255, 255, 255, 0.42);
  .text{
    font-size: x-large;
    font-family: inherit;
    font-style: italic;
  }
  .err{
    color: red;
    font-size: 16px;
    font-weight: bold;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    bezier:(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;


    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}
.inputConatiner {
  width: auto;
  height: auto;
  margin: 2%;
  text-align: center;
  color: black;
  margin-top: 22px;
  display: inline-block;
  input {
    margin: 2%;
    text-align: center;
    color: black;
    border: 1px solid black;
    display: inline-block;
    width: 50%;
  }
}

.buttonsContainer {
  text-align: center;
  display: run-in;
}
</style>
