<template>
  <div class="referrals" >
    <div class="referralsHeadline" v-bind:class="{blurred: blurry}">יומן הפניות</div>
    <div class="checkBoxesContainer">
      <div class="checkBoxes" v-bind:class="{clicked: clickedAll}" v-on:click="generateLogs('all')">הציגי הכול</div>
      <div class="checkBoxes" v-bind:class="{clicked: clickedPending}" v-on:click="generateLogs('pending')">הפניות מחכות</div>
      <div class="checkBoxes" v-bind:class="{clicked: clickedDeclined}" v-on:click="generateLogs('declined')">הפניות שנדחו</div>
      <div class="checkBoxes" v-bind:class="{clicked: clickedApproved}" v-on:click="generateLogs('approved')">הפניות שאושרו</div>
    </div>
    <div class="referralsContainer" v-bind:class="{blurred: blurry}">
      <div class="singleRef" v-bind:class="{pending: ref.data.status === 'pending', declined: ref.data.status === 'declined', approved: ref.data.status === 'approved'}" v-for="ref in all_refs" v-on:click="openPopUp = true, current_ref=ref, blurry=true">
        <div>שם האם: {{ref.data.mother_name}}</div>
        <div v-if="ref.data.child_name != ''">שם הילד: {{ref.data.child_name}}</div>
        <div>גורם מפנה: {{ref.data.ref_name}}</div>
        <div>תאריך הפנייה: {{ref.data.signup_date}}</div>
        <div v-if="ref.data.status==='pending'">סטאטוס: מחכה</div>
        <div v-if="ref.data.status==='approved'">סטאטוס: אושרה</div>
        <div v-if="ref.data.status==='declined'">סטאטוס: נדחתה</div>
      </div>
    </div>
    <div class="popUpContainer" v-bind:class="{notBlurred: blurry}" v-if="openPopUp">
      <SingleReferralPopUp v-bind:referral="current_ref" v-bind:closePopUp="closePopUp"></SingleReferralPopUp>
    </div>
  </div>
</template>

<script>
import SingleReferralPopUp from './SingleReferralPopUp';
import * as ref from "../../firesbaseService/ref_logs_queries";
export default {
  name: "referrals",
  components: {
    SingleReferralPopUp,
  },

  methods: {
    closePopUp: function(returnData){
      if(returnData == "declined"){

      }
      this.openPopUp = false;
      this.blurry = false;
    },
    generateLogs: function(status) {
      if(status == "pending"){
        this.all_refs = this.pending_refs;
        this.clickedPending = true;
        this.clickedApproved = this.clickedDeclined = this.clickedAll = false;
      }
      else if ( status == "declined")
      {
        this.all_refs = this.declined_refs;
        this.clickedDeclined = true;
        this.clickedApproved = this.clickedPending = this.clickedAll = false;
      }
      else if ( status == "approved")
      {
        this.all_refs = this.approved_refs;
        this.clickedApproved = true;
        this.clickedDeclined = this.clickedPending = this.clickedAll = false;
      }

      else{
        this.all_refs = this.$data._all_refs;
        this.clickedDeclined = this.clickedPending = this.clickedAll = this.clickedApproved = true;
      }
    }
  },
  async created() {
    this.$data._all_refs = await ref.get_all_referrals();
    this.all_refs = this.$data._all_refs;
    for( let ref in this.all_refs )
    {
      if(this.all_refs[ref].data.status == "pending")
      {
        this.pending_refs.push(this.all_refs[ref]);
      }
      else if(this.all_refs[ref].data.status == "approved")
      {
        this.approved_refs.push(this.all_refs[ref]);
      }
      else{
        this.declined_refs.push(this.all_refs[ref]);
      }
    }
    this.$data._all_refs = this.pending_refs.concat(this.declined_refs);
    this.$data._all_refs = this.$data._all_refs.concat(this.approved_refs);
    this.all_refs = this.$data._all_refs;
  },
  data() {
    return {
      blurry: false,
      ref_programs: [],
      openPopUp: false,
      all_refs: [],
      _all_refs: [],
      pending_refs: [],
      approved_refs: [],
      declined_refs: [],
      current_ref: {},
      clickedAll: true,
      clickedPending: true,
      clickedDeclined: true,
      clickedApproved: true,
      file: {
        // dictionary
        address: "כתובת", // string
        father_bdate: "תאריך לידה - אב", // string
        father_id: "ת.ז אב", // string
        father_name: "שם האב", // string
        father_occ: "עיסוק האב", // string
        father_phone: "טלפון האב", // string
        mail: "כתובת מייל", // string
        mother_bdate: "תאריך לידה - אם", // string
        mother_id: "ת.ז אם", // string
        mother_name: "שם האם", // string
        mother_occ: "עיסוק האם", // string
        "mother_phone": "טלפון האם", // string
        ref: "גורם מפנה", // int --> const.outsourcing
        signup_date: "תאריך פתיחת התיק" // string
      }
    };
  },
  computed: {}
};
</script>

<style lang="scss" scoped>
.referrals {
  width: 100%;
  height: 85%;
  text-align: center;
  direction: rtl;
  &.blurred{
    transition: 0.3s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
  }
  .referralsHeadline{
    font-size: xx-large;
    font-weight: bold;
    margin: 1%;


  }
  .referralsContainer {
    max-height: 83%;
    overflow-y: auto;
    display: flex;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    &.blurred{
      transition: 0.3s;
      filter: blur(3px);
      -webkit-filter: blur(3px);
      pointer-events: none;
      z-index: 3;
    }
  }
}

.pending{
  background-color: rgba(251, 255, 192, 0.8);
  &:hover{
    color: black;
    background-color: #e9e968;
    box-shadow: -10px 10px #b2b225;
  }
}
.checkBoxesContainer{
  text-align: center;
  margin-bottom: 1%;
}
.checkBoxes{
  display: inline-block;
  text-decoration: none;
  background-color: rgba(211,245,255,0.5);
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 7px;
  padding: 2px;

  &:hover {
    opacity: 1;
    background-color: rgba(211,245,255,0.5);
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}
.clicked {
  opacity: 1;
  box-shadow: 0px 0px 0px 2px lightblue;
}
.declined{
  background-color: rgba(255, 210, 210, 0.8);
  &:hover{
    color: white;
    background-color: #491616;
    box-shadow: -10px 10px #cc2626;
  }
}
.approved{
  background-color: rgba(65, 191, 65, 0.8);
  &:hover{
    background-color: rgba(8, 160, 8, 0.8);
    box-shadow: -10px 10px lightgreen;
  }
}
.singleRef {
  height: 20%;
  width: 25%;
  margin: 15px;
  padding: 3px;
  color: black;
  font-weight: bold;
  box-shadow: 10px 10px #4376a178;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  direction: rtl;
  display: inline-block;
  position: relative;
  border: 1.5px solid black;
  text-align: center;
  padding-top: 10px;
  -webkit-box-shadow: 10px 10px #4376a178;
  box-shadow: 10px 10px #4376a178;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: default;
  .popUpContainer{
    // display: inline-block;

    &.notBlurred{
      filter: blur(0px);
      -webkit-filter: blur(0px);
      box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
      background-color: rgba(255, 255, 255, 0.6);
      border: 0.1px solid black ;
    }
  }
  &:hover{
    cursor: pointer;
  }
}

</style>
