<template>
  <div class="referralLogEntryWrapper">
    <div class="closeButton" v-on:click="closePopUp(), blurry=false" >סגירה</div>
    <div class="referralLogEntry">
      <div class="allRefContainer">
        <div class="refDetailsContainer">
          <div class="headHeader" >פרטי הפנייה</div>
          <div class="result">
            <div class="details">תאריך</div>
            <div class="inputDisp">{{this.referral.data.signup_date}}</div>
          </div>
          <div class="result">
            <div class="details">שם הגורם</div>
            <div class="inputDisp">{{this.referral.data.ref_name}}</div>
          </div>
          <div class="result">
            <div class="details">שם ממלא\ת הטופס</div>
            <div class="inputDisp">{{this.referral.data.employee_name}}</div>
          </div>
        </div>
        <div class="momRefContainer">
          <div class="headHeader">פרטי אמא</div>
          <div class="result">
            <div class="details">תעודת זהות</div>
            <div class="inputDisp">{{this.referral.data.mother_id}}</div>
          </div>
          <div class="result">
            <div class="details">שם פרטי</div>
            <div class="inputDisp">{{this.referral.data.mother_name}}</div>
          </div>
          <div class="result">
            <div class="details">שם משפחה</div>
            <div class="inputDisp">{{this.referral.data.mother_last_name}}</div>
          </div>
          <div class="result">
            <div class="details">כתובת</div>
            <div class="inputDisp">{{this.referral.data.address}}</div>
          </div>
          <div class="result">
            <div class="details">טלפון</div>
            <div class="inputDisp">{{this.referral.data.mother_phone}}</div>
          </div>
        </div>
        <div class="childRefContainer" v-if="this.referral.data.child_name != ''">
          <div class="headHeader">פרטי ילד</div>
          <div class="result">
            <div class="details">תעודת זהות</div>
            <div class="inputDisp">{{this.referral.data.mother_id}}</div>
          </div>
          <div class="result">
            <div class="details">שם</div>
            <div class="inputDisp">{{this.referral.data.child_name}}</div>
          </div>
          <div class="result">
            <div class="details">תוכניות</div>
            <div class="inputDisp">
              <div class="" v-for="prog in this.referral.data.programs">
                {{prog.name}}
              </div>
            </div>
          </div>
          <div class="result">
            <div class="details">סיבות הפנייה</div>
            <div class="inputDisp">
              <div class="" v-for="reason in this.referral.data.ref_reasons">
                {{reason.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttonsContainer" v-if="!fromFileReflog">
      <div class="acceptButton" v-if="referral.data.status != 'approved'" v-on:click="openFile()">קבלת פניה ופתיחת תיק</div>
      <div class="declineButton" v-if="referral.data.status == 'pending'" v-on:click="referral.data.status = 'declined', declineFile()">דחיית פניה</div>
    </div>
  </div>
</template>

<script>
import {delete_referral,change_ref_status} from '../../firesbaseService/ref_logs_queries';
export default {
  name: "referralPopUp",
  props: {
    referral: {
      type: Object,
      required: false
    },
    closePopUp: {
      type: Function,
      required: false,
    },

  },
  created(){
    if(this.referral.ref_id){
      this.fromFileReflog = true;
      let temp = this.referral;
      this.referral = {};
      this.referral.data = temp;
      this.referral.children = {};
      this.familyFile.mother_name= this.referral.data.mother_name;
      this.familyFile.mother_id= this.referral.data.mother_id;
      this.familyFile.mother_phone= this.referral.data.phone;
      this.familyFile.address= this.referral.data.address;
      this.familyFile.ref= this.referral.data.ref_name;
      this.familyFile.children= {};
      this.familyFile.ref_id= this.referral.id;
    }
    if(this.referral.data.child_id != "")
    {
      this.familyFile['children'] = {};
      this.familyFile.children[this.referral.data.child_id] = {
        id: this.referral.data.child_id,
        name: this.referral.data.child_name,
        programs: this.referral.data.child_program
      }
    }
  },
  components: {

  },

  methods: {
    delete_ref: async function(ref){
      delete_referral(ref);
    },
    declineFile: async function() {
      change_ref_status(this.referral.id,"declined");
    },
    openFile: function() {
      if(this.familyFile.children){
        this.referral.data['children'] = this.familyFile.children;
      }
      this.$router.push({
        name: "AddFile",
        params: { fileToEdit: this.referral.data , deleteRef: this.delete_ref, editMode: false}
      });
    }
  },
  data() {
    return {
      familyFile: {
        mother_name: "",
        mother_id: "",
        mother_phone: "",
        address: "",
        ref: "",
        children: {},
        ref_id: "",
      },
      blurry: false,
      fromFileReflog: false,

    }
  },

  computed: {

  }
};
</script>

<style lang="scss" scoped>
.momRefContainer{
  margin-top: 5%;
}

.acceptButton{
  background-color: lightgreen;
  text-align: center;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 2%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: white;
    opacity: 1;
    background-color: lightblue;
    box-shadow: 0px 0px 0px 2px lightblue;
  }
}

.declineButton{
  background-color: #FF5722;
  text-align: center;
  padding: 1%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    opacity: 1;
    background-color: #ab3d1a;
    color: white;
    box-shadow: 0px 0px 0px 2px black;
  }
}
.headHeader{
  font-weight: bolder;
  margin-bottom: 3%;
  text-decoration: underline;
  font-size: 20px;
}
.referralPopUp {
  width: 50%;
  height: 80%;
  position: absolute;
  z-index: 2;
  background-color: lightgray;
  border: 3px solid black;
  top: 15%;
  right: 25%;
  padding: 15px;
}
.fileDisplayContainerWrapper{
  height: 100%;
  width: 100%;
  text-align: center;
}

.fileDisplayContainer{
  max-height: 87%;
  max-width: 100%;
  margin-top: 5px;
  overflow-y: auto;
  text-align: center;
  overflow-x: hidden;
  select{
    width: 60%;
  }
  &.blurred{
    transition: 0.3s;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    pointer-events: none;
  }


  .details{
    width: 50%;
    font-weight: bold;
  }
  #headline{
    font-size: -webkit-xxx-large;
    font-style: italic;
    font-weight: 900;
  }
  .detailsContainer{
    display: flex;
    margin-top: 5px;
    max-height: 100%;
    input{
      text-align: center;
      width: 75%;
    }
    .result{
      .details{
        display: inline-block;
      }

    }
    .allRefContainer{
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96,130,173,0.15);
      background-color: rgba(255,255,255,0.7);
      padding-top: 1%;
      .momDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    .dadContainer{
      width: 33%;
      height: 100%;
      box-shadow: 5px 5px rgba(96,130,173,0.15);
      background-color: rgba(255,255,255,0.7);
      margin-right: 5%;
      padding-top: 1%;
      .dadDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;

      }
    }
    .overrallContainer{
      width: 33%;
      margin-right: 5%;
      padding-top: 1%;
      margin-bottom: 15%;
      .overallDetails{
        position: relative;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        .result{
          text-align: center;
          width: 20%;
          top: 10px;
          .details{
            display: inline-block;
          }
        }
        input{
          width: 70%;
          top: 5px;
        }
      }
    }
    .childrenContainer{
      display: flex;
      justify-content: center;
    }
    .text{
      font-weight: bold;
      font-size: x-large;
    }
  }
}

.referralLogEntry{
  display: inline-block;
  width: 100%;
  // z-index: 100;
  // pointer-events: auto;

  &.notBlurred{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    box-shadow: 5px 5px rgba(96, 130, 173, 0.15);
    background-color: rgba(255, 255, 255, 0.6);
    border: 0.1px solid black ;
  }

}

.closeButton{
  margin-bottom: 5%;
  background-color: rgba(0,0,0,0.1);
  &:hover{
    cursor: pointer;
    background-color: rgba(150, 61, 53, 0.4);
  }
}
.details{
  font-weight: bold;
  margin-top: 2%;
  margin-bottom: 1%;
}
.referralLogEntryWrapper{
  width: 40%;
  position: absolute;
  z-index: 100;
  padding-bottom: 5%;
  pointer-events: auto;
  top: 12%;
  right: 30%;
  overflow: auto;
  max-height: 83%;
  background-color: rgba(255, 255, 255, 0.9);
}

.programLogInner{
  justify-content: center;
  align-items: center;

}
::-webkit-scrollbar {
  width: 6px;
  // padding: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.text{
  padding-bottom: 20px;
}

input{
  margin-bottom: 0px;
  width: 70%;
}

</style>
