<template>
  <div class="app" :style="{'width':(windowWidth)+'px', 'height':(windowHeight)+'px'}" v-bind:class="{opacityOn: isOpen}">
    <NavBar v-if="loggedIn"></NavBar>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>

    <div class="backgroundOpacity" v-if="isOpen"></div>
  </div>
</template>

<script>
import "es6-promise/auto";
import ReferralsForm from './components/ReferralsForm';
import NavBar from "./components/NavBar";
import * as firebase from "firebase";
import {get_user_type} from './firesbaseService/users_queries';
export default {
  name: "app",
  components: {
    NavBar,
    ReferralsForm
  },
  created() {
    window.addEventListener("resize", this.handleResize);
    this.handleResize();
  },
  destroyed() {
    window.removeEventListener("resize", this.handleResize);
  },
  methods: {
    handleResize() {
      this.windowWidth = window.innerWidth;
      this.windowHeight = window.innerHeight;
    }
  },
  data() {
    return {
      windowHeight: "",
      windowWidth: "",
      files: {},
      doc_obj: {},
      disp_name: {
        // dictionary
        address: "כתובת", // string
        father_bdate: "תאריך לידה - אב", // string
        father_id: "ת.ז אב", // string
        father_name: "שם האב", // string
        father_occ: "עיסוק האב", // string
        father_phone: "טלפון האב", // string
        mail: "כתובת מייל", // string
        mother_bdate: "תאריך לידה - אם", // string
        mother_id: "ת.ז אם", // string
        mother_name: "שם האם", // string
        mother_occ: "עיסוק האם", // string
        "moth er_phone": "טלפון האם", // string
        ref: "גורם מפנה", // int --> const.outsourcing
        signup_date: "תאריך פתיחת התיק" // string
      }
    };
  },
  computed: {
    loggedIn: function() {
      let self = this;
      firebase.auth().onAuthStateChanged(async function(user){
        self.$store.commit("setLogIn");
        self.$store.commit("set_user_mail");
        self.$store.commit("set_user_name");
        self.$store.commit("set_user_programs");
        if(user){
          let user_type = await get_user_type(user.displayName);
          self.$store.commit("set_user_type",user_type);
        }else{
          self.$store.commit("setLogIn");
        }
      })
      return this.$store.getters.isLoggedIn;
    },
    isOpen: function () {
      return this.$store.getters.getBackgroundOpacityIsOn;
    }
  }
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.app {
  font-family: 'Varela Round', sans-serif;
  // font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-y: hidden;
  direction: rtl;
  min-width: 570px;
  position: relative;
  background-color: lightcyan;
  height: 100vh;
  width: 100vw;
  background-color: #495374;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/magar-48c65.appspot.com/o/appBackgroundImage.jpg?alt=media&token=3b9bc718-4240-49a8-a274-62c43b79e662);
  background-repeat: round;
  background-blend-mode: lighten;
  background-position: inherit;
  opacity: 0.9;
  &.opacityOn{
    pointer-events: none;
  }
  .backgroundOpacity{
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    top: 0;
    z-index: 10;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.4s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}

::-webkit-scrollbar {
  width: 6px;
  // padding: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.heb{
  direction: rtl;
}

.ref_res_css{
  display: inline-block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

.form {
  direction: rtl;
  max-width: 700px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  height: 100%;
  overflow: auto;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input,
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}
select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
</style>
